<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>
 -
<a href="/admin/acceleratorProjects">Accelerator Projects</a>

<h2 th:text="|${project.name} (${project.id})|">Project (123)</h2>

<h3>Phase</h3>
<p th:text="${project.phase.getDisplayName(#locale.default)}">Phase</p>

<h3>Modules</h3>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Module</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Deliverables</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="module : ${projectModules}" class="striped">
        <td th:text="${module.title}">Module Title</td>
        <td>
            <a th:href="|/accelerator/modules/${module.id}|"
               th:text="${moduleNames.get(module.id)}">
                Module ID and Name
            </a>
        </td>
        <td th:text="${module.startDate}">2000-11-22</td>
        <td th:text="${module.endDate}">2000-11-29</td>
        <td>
            <select name="deliverableId" th:form="|deliverables-${module.id}|">
                <option th:each="deliverable : ${moduleDeliverables.get(module.id)}"
                        th:text="|(${deliverable.id}) ${deliverable.name}|"
                        th:value="${deliverable.id}">
                    (Deliverable ID) Deliverable Name
                </option>
            </select>
        </td>
        <td>
            <form method="POST"
                  th:id="|deliverables-${module.id}|"
                  th:action="|/admin/acceleratorProjects/${project.id}/deliverables|">
                <input type="submit" value="View" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
