<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>

<h2>Accelerator Projects</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phase</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="project : ${projects}" class="striped">
        <td th:text="${project.id}">ID</td>
        <td>
            <a th:href="|/admin/acceleratorProjects/${project.id}|" th:text="${project.name}">
                Project Name
            </a>
        </td>
        <td th:text="${project.phase.getDisplayName(#locale.default)}">Phase</td>
    </tr>
    </tbody>
</table>

</body>
</html>
