<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>
-
<a href="/admin/cohorts">Cohorts</a>
-
<a th:href="|/admin/cohorts/${cohort.id}|" th:text="${cohort.name}">Cohort Name</a>

<h2 th:text="|Deliverable ${deliverable.id}: ${deliverable.name}|">Deliverable Title</h2>

<p>
    <a th:href="|/accelerator/modules/${cohortModule.id}|">Module Details</a>
    (in accelerator console)
</p>

<p th:text="|Dates: ${cohortModule.startDate} - ${cohortModule.endDate}|">Module Dates</p>

<h2> Due Dates </h2>

<p> Deliverable due dates are project-specific, and follows the following order: </p>
<ol>
    <li>The project due date, if set. </li>
    <li>The module end date for the cohort. </li>
</ol>

<h3>Project Due Dates </h3>

<table>
    <thead>
    <tr>
        <th>Project</th>
        <th>Due Date</th>
        <th>Submission ID</th>
        <th>Status</th>
        <th>Has Override</th>
        <th>Set Override</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="submission : ${submissions}" class="striped">
        <td th:text="|(${submission.projectId}) ${submission.projectName}|">Project Name</td>
        <td th:text="${submission.dueDate}">Due Date</td>
        <td th:text="${submission.submissionId}">ID</td>
        <td th:text="${submission.status.getDisplayName(#locale.default)}">Status</td>
        <td th:text="${dueDates.projectDueDates.keySet().contains(submission.projectId)}">Override</td>
        <td>
            <input type="date"
                   name="dueDate"
                   required
                   th:form="|update-project-${submission.projectId}-due-date|"
                   th:disabled="${!canManageDeliverables}"
                   th:value="${dueDates.projectDueDates.get(submission.projectId)}" />
        </td>
        <td>
            <form method="POST"
                  th:id="|update-project-${submission.projectId}-due-date|"
                  th:action="|/admin/cohorts/${cohort.id}/deliverables/${deliverable.id}|">
                <input type="hidden" name="projectId" th:value="${submission.projectId}"/>
                <input type="hidden" name="operation" value="upsert" />
                <input type="submit"
                       th:if="${dueDates.projectDueDates.get(submission.projectId) != null}"
                       th:disabled="${!canManageDeliverables}"
                       value="Update" />
                <input type="submit"
                       th:if="${dueDates.projectDueDates.get(submission.projectId) == null}"
                       th:disabled="${!canManageDeliverables}"
                       value="Add" />
            </form>
        </td>
        <td>
            <form method="POST"
                  th:action="|/admin/cohorts/${cohort.id}/deliverables/${deliverable.id}|">
                <input type="hidden" name="projectId" th:value="${submission.projectId}"/>
                <input type="hidden" name="operation" value="remove" />
                <input type="submit"
                       th:if="${dueDates.projectDueDates.get(submission.projectId) != null}"
                       th:disabled="${!canManageDeliverables}"
                       value="Remove" />
            </form>
        </td>
    </tr>
    </tbody>
</table>