<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<p>
    <a href="/admin/">Home</a>
</p>

<h2>Default Project Leads</h2>

<p>
    When an application for a project in a particular region passes pre-screening, its project
    lead is set to the value for that region listed here.
</p>
<p>
    <b>Changing the values here will not update the project leads of any existing applications!</b>
    These names are only used as the defaults for new applications.
</p>

<form method="POST" action="/admin/defaultProjectLeads">
    <table>
        <tr>
            <th>Region</th>
            <th>Lead</th>
        </tr>

        <tr th:each="region : ${regions}" class="striped">
            <td th:text="${region.jsonValue}">East Narnia</td>
            <td>
                <input type="text" th:name="${region.name}" th:value="${defaultLeads[region.name]}" />
            </td>
        </tr>

        <tr class="striped">
            <td colspan="2">
                <input type="submit" value="Update"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>
