<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<p>
    <a href="/admin/">Home</a>
</p>

<h2>Default Voters</h2>

<p>
    Default voters are assigned as voters to participant projects. If the checkbox under a project
    is checked, the add/remove will propagate to that project current phase of voting. By default,
    projects with incomplete votes will inherit the voter change.
</p>

<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>Action</th>
        <th>Projects:</th>
        <th th:each="project : ${projects}"
            th:text="${project.projectName + ' (' + (project.voteDecision ?: 'Incomplete') + ')'}">
            Some project name
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}" class="striped">
        <td th:text="${user.email}">someone@terraformation.com</td>
        <td>
            <form method="POST"
                  th:id="|remove-${user.userId}|"
                  action="/admin/defaultVoters/remove">
                <input type="hidden" name="userId" th:value="${user.userId}"/>
                <input type="submit" value="Remove"/>
            </form>
        </td>
        <td> </td>
        <td th:each="project : ${projects}">
            <input type="checkbox"
                   name="projectIds"
                   th:form="|remove-${user.userId}|"
                   th:value="|${project.projectId}|"
                   th:title="|${project.projectId}|"
                   th:checked="${project.voteDecision == null}"
            />
        </td>
    </tr>

    <tr class="striped">
        <td>
            <input type="email" name="email" form="add" required/>
        </td>
        <td>
            <form method="POST" id="add" action="/admin/defaultVoters/add">
                <input type="submit" value="Add"/>
            </form>
        </td>
        <td></td>
        <td th:each="project : ${projects}">
            <input type="checkbox"
                   name="projectIds"
                   th:form="add"
                   th:value="|${project.projectId}|"
                   th:title="|${project.projectId}|"
                   th:checked="${project.voteDecision == null}"
            />
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
