<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}">
    <script th:fragment="additionalScript">
        function showAdvanced() {
            document.getElementById("advanced").style.display = "block";
            document.getElementById("showAdvanced").style.display = "none";
        }
    </script>

    <style th:fragment="additionalStyle">
        label {
            display: inline-block;
            min-width: 10em;
        }
    </style>
</head>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a> -
<a th:if="${facility} == null" href="/admin/deviceManagers">Device Managers</a>
<a th:if="${facility} != null" th:href="|/admin/facility/${facility.id}|"
   th:text="${facility.name}">Facility</a>

<h2 th:text="|Device Manager ${manager.deviceName} (${manager.id})|">Device Manager foo (1)</h2>

<form th:action="|/admin/deviceManagers/${manager.id}|" method="POST">

    <label>
        Sensor Kit ID
        <input type="text" name="sensorKitId" th:value="${manager.sensorKitId}"/>
    </label>
    <br/>

    <label>
        Facility ID
        <input type="text" name="facilityId" th:value="${manager.facilityId}"/>
    </label>
    If this isn't set, the device manager is not connected yet.
    <br/>

    <label>
        Online?
        <select name="isOnline">
            <option value="true" th:selected="${manager.isOnline()}">Yes</option>
            <option value="false" th:selected="!${manager.isOnline()}">No</option>
    </select>
    <br/>

    <label>
        Update Progress
        <input type="number" name="updateProgress" min="0" max="100"
           th:value="${manager.updateProgress}"/>
    </label>
    Progress percentage of software update. Null if no update in progress.
    <br/>

    <span id="advanced" style="display: none;">

    <label>
        User ID
        <input type="text" name="userId" th:value="${manager.userId}"/>
    </label>
    <br/>

    <label>
        Balena ID
        <input type="number" name="balenaId" th:value="${manager.balenaId}"/>
    </label>
    <br/>

    <label>
        Balena UUID
        <input type="text" name="balenaUuid" th:value="${manager.balenaUuid}"/>
    </label>
    <br/>

    <label>
        Balena Modified Time
        <input type="text" name="balenaModifiedTime"
           th:value="${manager.balenaModifiedTime}"/>
    </label>
    <br/>

    <label>
        Balena Name
        <input type="text" name="deviceName" th:value="${manager.deviceName}"/>
    </label>
    <br/>

    <label>
        Last Connectivity
        <input type="text" name="lastConnectivityEvent"
           th:value="${manager.lastConnectivityEvent}"/>
    </label>
    <br/>

    <label>
        Created Time
        <input type="text" name="createdTime" th:value="${manager.createdTime}"/>
    </label>
    <br/>

    <label>
        Refreshed Time
        <input type="text" name="refreshedTime" th:value="${manager.refreshedTime}"/>
    </label>
    <br/>

    </span>

    <input type="submit" value="Update"/>

    <p>
        <a href="#" onclick="showAdvanced()" id="showAdvanced">Show Advanced Settings</a>
    </p>

</form>

<form th:if="${manager.userId} != null"
      th:action="|/admin/deviceManagers/${manager.id}/generateToken|"
      method="POST">

    <input type="submit" value="Generate New Offline Refresh Token"/>

</form>

</body>
</html>
