<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<p>
    <a href="/admin/">Home</a>
</p>

<h2>Disclaimers</h2>

<p>All dates and times are shown in the UTC timezone.</p>
<p>The bolded date refers to the currently active disclaimer.</p>

<table>
    <thead>
    <tr>
        <th>Disclaimer ID</th>
        <th>Effective Date</th>
        <th>Number of Acceptance</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="disclaimer : ${disclaimers}" class="striped">
        <td>
            <a th:href="|/admin/disclaimers/${disclaimer.id}|" th:text="${disclaimer.id}">123</a>
        </td>
        <td>
            <p th:text="${#temporals.format(disclaimer.effectiveOn, 'yyyy-MM-dd', 'UTC')}"
               th:style="${disclaimer.id == currentDisclaimerId ? 'font-weight: bold;' : 'font-weight: normal;'}"
            >
                2025/01/01 00:00:00
            </p>
        </td>
        <td th:text="${disclaimer.users.size()}">Disclaimer Number of Acceptance</td>
        <td>
            <form method="POST" id="delete" th:action="|/admin/disclaimers/${disclaimer.id}/delete|">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h3>New Disclaimer</h3>

<form method="POST" action="/admin/disclaimers">
    <label>
        Effective Date
        <input type="date"
               name="effectiveDate"
               required />
    </label>
    <br />
    <label>
        Content
        <br />
        <textarea name="content" rows="4" cols="50">Disclaimer content</textarea>
    </label>
    <br />
    <input type="submit"
           value="Submit" />
</form>

</body>
</html>
