<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>

<h2>Document Templates</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="documentTemplate: ${documentTemplates}">
        <td th:text="${documentTemplate.id}">1</td>
        <td th:text="${documentTemplate.name}">Name</td>
    </tr>
</table>

<form method="POST" action="/admin/document-producer/createDocumentTemplate">
    <label>
        Name
        <input type="text" name="name" minlength="1"/>
    </label>
    <input type="submit" value="Create Document Template"/>
</form>

<h2>Import Variable Manifest CSV</h2>

<form method="POST" action="/admin/document-producer/uploadManifest" enctype="multipart/form-data">
    <label>
        CSV
        <input type="file" name="file" minlength="1"/>
    </label>
    <br>
    <label>
        Document Template ID
        <select name="documentTemplateId">
            <option th:each="documentTemplate: ${documentTemplates}" th:value="${documentTemplate.id}"
                th:text="${documentTemplate.name}"/>
    </select>
    <br>
    <input type="submit" value="Import"/>
</form>

<h2>Import All Variable CSV</h2>

<form method="POST" action="/admin/document-producer/uploadAllVariables" enctype="multipart/form-data">
    <label>
        CSV
        <input type="file" name="file" minlength="1"/>
    </label>
    <br>
    <input type="submit" value="Import"/>
</form>

<p>
    Upgrade values of old versions of variables to the latest versions. This is normally done
    automatically when importing the all-variables CSV.
</p>

<form method="POST" action="/admin/document-producer/upgradeAllVariables">
    <input type="submit" value="Upgrade Old Variable Values"/>
</form>
</body>
</html>
