<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}">
    <script th:fragment="additionalScript">
        function fillOut(event, settings) {
            event.preventDefault();
            document.getElementById("deviceType").value = settings.type;
            document.getElementById("make").value = settings.make;
            document.getElementById("model").value = settings.model;
            document.getElementById("deviceName").value = settings.name || '';
            document.getElementById("address").value = settings.address || '';
            document.getElementById("protocol").value = settings.protocol || '';
        }

        addEventListener('load', () => {
            const configurations = {
                blueIon: {
                    type: "BMU",
                    make: "Blue Ion",
                    model: "LV",
                    name: "BMU-1",
                    address: "192.168.2.50",
                    protocol: "modbus"
                },
                cerboGx: {
                    type: "BMU",
                    make: "Victron",
                    model: "Cerbo GX",
                    name: "BMU-1",
                    address: "192.168.2.40",
                    protocol: "mqtt"
                },
                omniSense: {
                    type: "sensor",
                    make: "OmniSense",
                    model: "S-11"
                },
                omniSenseHub: {
                    type: "hub",
                    make: "OmniSense",
                    model: "G-4",
                    name: "OmniSense Hub",
                    address: "192.168.2.30",
                },
            };

            for (let elementName in configurations) {
                document.getElementById(elementName)
                        .addEventListener('click', (event) => fillOut(event, configurations[elementName]));
            }
        });
    </script>

    <style th:fragment="additionalStyle">
        label {
            display: inline-block;
            min-width: 5em;
        }
    </style>
</head>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a> -
<a th:href="|/admin/organization/${organization.id}|" th:text="${organization.name}">Org Name</a>

<h2 th:text="|Facility ${facility.name} (${facility.id})|">Facility (id)</h2>

<form method="POST" action="/admin/updateFacility" th:if="${canUpdateFacility}">
    <input type="hidden" name="facilityId" th:value="${facility.id}"/>
    <label>
        Name
        <input type="text" name="name" required th:value="${facility.name}"/>
    </label>
    <br/>
    <label>
        Description
        <input type="text" name="description" th:value="${facility.description}"/>
    </label>
    <br/>
    <label>
        Type
        <select name="type">
            <option th:each="type : ${facilityTypes}"
                    th:selected="${facility.type} == ${type}"
                    th:text="${type.jsonValue}"
                    th:value="${type.id}">
                Type
            </option>
        </select>
    </label>
    <br/>
    <label>
        Max Idle
        <input type="number" name="maxIdleMinutes" maxlength="4" size="4" min="1"
               required th:value="${facility.maxIdleMinutes}"/>
    </label>
    minutes (for updates from device manager)
    <br/>
    <label>
        Connection
        <select name="connectionState">
            <option th:each="state: ${connectionStates}"
                    th:selected="${facility.connectionState} == ${state}"
                    th:text="${state.jsonValue}"
                    th:value="${state}">
                State
            </option>
        </select>
    </label>
    <br/>
    <input type="submit" value=" Update Facility "/>
</form>

<div th:if="!${canUpdateFacility}">
    Facility Type:
    <span th:text="${facility.type.jsonValue}">Seed Bank</span>
</div>

<h3>Devices</h3>

<p th:if="${deviceManager} != null">
    <a th:href="|/admin/deviceManagers/${deviceManager.id}|"
       th:text="|Device manager ${deviceManager.id} connected.|">Device manager 1 connected.</a>
</p>

<p th:if="${deviceManager} == null">
    No device manager connected.
    <a href="/admin/deviceManagers">Go to device manager list</a>
</p>

<table th:if="!${devices.isEmpty()}">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Address</th>
        <th>Protocol</th>
        <th>Parent ID</th>
    </tr>

    <tr th:each="device : ${devices}">
        <td th:text="${device.id}">1</td>
        <td th:text="${device.name}">Fridge 1</td>
        <td th:text="${device.make}">XYZ</td>
        <td th:text="${device.model}">ABC</td>
        <td th:text="${device.address}">1.2.3.4</td>
        <td th:text="${device.protocol}">modbus</td>
        <td th:text="${device.parentId}">42</td>
    </tr>
</table>

<h4 id="createDevices">Create Devices</h4>

<form method="POST" action="/admin/createDevices">
    <input type="hidden" name="facilityId" th:value="${facility.id}"/>

    <div>
        Common configurations:
        <a href="#" id="blueIon">Blue Ion PV</a> -
        <a href="#" id="cerboGx">Cerbo GX PV</a> -
        <a href="#" id="omniSense">Temperature/Humidity Sensor</a> -
        <a href="#" id="omniSenseHub">OmniSense Hub</a>
    </div>

    <div>
        <label>
            Type
            <input type="text" id="deviceType" name="type" required/>
        </label>
    </div>

    <div>
        <label>
            Make
            <input type="text" id="make" name="make" required/>
        </label>
    </div>

    <div>
        <label>
            Model
            <input type="text" id="model" name="model" required/>
        </label>
    </div>

    <div>
        <label>
            Protocol
            <input type="text" id="protocol" name="protocol"/>
        </label>
    </div>

    <div>
        <label>
            Name
            <input type="text" id="deviceName" name="name"/>
        </label>
        Leave blank for a random hex code.
    </div>

    <div>
        <label>
            Address
            <input type="text" id="address" name="address"/>
        </label>
        Leave blank to use the device name.
    </div>

    <div>
        <label>
            Parent ID
            <input type="text" name="parentId"/>
        </label>
        Optional. Use this if you are adding a sensor that sits behind a hub. Put the hub's ID here.
    </div>

    <div>
        <label>
            Count
            <input type="number" name="count" value="1" min="1" max="50"/>
        </label>
        Increase this to create multiple devices at once.
    </div>

    <div>
        <input type="submit" value="Create"/>
    </div>
</form>

<h3>Sub-Locations</h3>

<ul>
    <li th:each="location : ${subLocations}">
        <form method="POST" action="/admin/updateSubLocation"
              th:if="${canUpdateFacility}" style="display: inline-block;">
            <input type="hidden" name="facilityId" th:value="${facility.id}"/>
            <input type="hidden" name="subLocationId" th:value="${location.id}"/>
            <input type="text" name="name" th:value="${location.name}"/>
            <input type="submit" value=" Update "/>
        </form>
        <form method="POST" action="/admin/deleteSubLocation"
              th:if="${canUpdateFacility}" style="display: inline-block;">
            <input type="hidden" name="facilityId" th:value="${facility.id}"/>
            <input type="hidden" name="subLocationId" th:value="${location.id}"/>
            <input type="submit" value=" Delete "/>
        </form>
        <span th:text="|${location.name} - ${location.conditionId.displayName}|"
              th:if="!${canUpdateFacility}">
            Location 1 - Freezer
        </span>
    </li>
</ul>

<form method="POST" action="/admin/createSubLocation" th:if="${canUpdateFacility}">
    <input type="hidden" name="facilityId" th:value="${facility.id}"/>
    <label>
        Name
        <input type="text" name="name" required/>
    </label>
    <br/>
    <input type="submit" value=" Create Sub-Location "/>
</form>

<h3>Alert Recipients</h3>

<p>
    Alerts are emailed to users who have enabled email notifications in their account settings and
    are members of this facility's organization.
</p>

<ul>
    <li th:each="recipient : ${recipients}" th:text="${recipient}">foo@bar.com</li>
</ul>

<h4>Send Test Alert</h4>

<form method="POST" action="/admin/sendAlert">
    <input type="hidden" name="facilityId" th:value="${facility.id}"/>
    <label>
        Subject
        <input type="text" name="subject" value="Testing Alert Email"/>
    </label>
    <br/>
    <label>
        Body
        <textarea rows="5" cols="40" name="body">This is a test of facility alert email.</textarea>
    </label>
    <br/>
    <input type="submit" value=" Send Alert "/>
</form>

</body>
</html>
