<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<body>

<span th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a> -
<a th:href="|${prefix}/organization/${organization.id}|" th:text="${organization.name}">Org Name</a>
-
<a th:href="|${prefix}/project/${project.id}|" th:text="${project.name}">Project Name</a>
-
<a th:href="|${prefix}/site/${site.id}|" th:text="${site.name}">Site Name</a>

<h2 th:text="|Facility ${facility.name} (${facility.id})|">Facility (id)</h2>

<form method="POST" th:action="|${prefix}/updateFacility|" th:if="${canUpdateFacility}">
    <input type="hidden" name="facilityId" th:value="${facility.id}"/>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required th:value="${facility.name}"/>
    <br/>
    <label for="type">Type</label>
    <select name="type" id="type">
        <option th:each="type : ${facilityTypes}"
                th:selected="${facility.type} == ${type}"
                th:text="${type.displayName}"
                th:value="${type.id}">
            Type
        </option>
    </select>
    <br/>
    <label for="maxIdleMinutes">Max Idle</label>
    <input type="number" name="maxIdleMinutes" id="maxIdleMinutes" maxlength="4" size="4" min="1"
           required th:value="${facility.maxIdleMinutes}"/>
    minutes (for updates from device manager)
    <br/>
    <input type="submit" value=" Update Facility "/>
</form>

<div th:if="!${canUpdateFacility}">
    Facility Type:
    <span th:text="${facility.type.displayName}">Seed Bank</span>
</div>

<h3>Storage Locations</h3>

<ul>
    <li th:each="location : ${storageLocations}">
        <form method="POST" th:action="|${prefix}/updateStorageLocation|"
              th:if="${canUpdateFacility}">
            <input type="hidden" name="facilityId" th:value="${facility.id}"/>
            <input type="text" name="name" th:value="${location.name}"/>
            <select name="condition">
                <option th:each="condition : ${storageConditions}"
                        th:value="${condition.name}" th:text="${condition.displayName}"
                        th:selected="${location.conditionId} == ${condition}">
                    Freezer
                </option>
            </select>
            <input type="submit" value=" Update "/>
        </form>
        <form method="POST" th:action="|${prefix}/deleteStorageLocation|"
              th:if="${canUpdateFacility}">
            <input type="hidden" name="facilityId" th:value="${facility.id}"/>
            <input type="hidden" name="storageLocationId" th:value="${location.id}"/>
            <input type="submit" value=" Delete "/>
        </form>
        <span th:text="|${location.name} - ${location.conditionId.displayName}|"
              th:if="!${canUpdateFacility}">
            Location 1 - Freezer
        </span>
    </li>
</ul>

<form method="POST" th:action="|${prefix}/createStorageLocation|" th:if="${canUpdateFacility}">
    <input type="hidden" name="facilityId" th:value="${facility.id}"/>
    <label for="storageLocationName">Name</label>
    <input type="text" name="name" id="storageLocationName" required/>
    <label for="storageLocationCondition">Condition</label>
    <select name="condition" id="storageLocationCondition">
        <option th:each="condition : ${storageConditions}" th:text="${condition.displayName}"
                th:value="${condition.name}">
            Freezer
        </option>
    </select>
    <input type="submit" value=" Create Storage Location "/>
</form>

<h3>Alert Recipients</h3>

<ul>
    <li th:each="recipient : ${recipients}">
        <form method="POST" th:action="|${prefix}/deleteAlertRecipient|">
            <span th:text="${recipient}">foo@bar.com</span>
            <input type="hidden" name="facilityId" th:value="${facility.id}"/>
            <input type="hidden" name="email" th:value="${recipient}"/>
            <input type="submit" value=" Delete " th:if="${canUpdateFacility}"/>
        </form>
    </li>

    <li th:if="${canUpdateFacility}">
        <form method="POST" th:action="|${prefix}/addAlertRecipient|">
            <input type="hidden" name="facilityId" th:value="${facility.id}"/>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required/>
            <input type="submit" value=" Add "/>
        </form>
    </li>
</ul>

<h4>Send Test Alert</h4>

<form method="POST" th:action="|${prefix}/sendAlert|">
    <input type="hidden" name="facilityId" th:value="${facility.id}"/>
    <label for="subject">Subject</label>
    <input type="text" name="subject" id="subject" value="Testing Alert Email"/>
    <br/>
    <label for="body">Body</label>
    <textarea rows="5" cols="40" name="body"
              id="body">This is a test of facility alert email.</textarea>
    <br/>
    <input type="submit" value=" Send Alert "/>
</form>

</body>
</html>
