<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>
        Terraware Administration
    </title>

    <th:block th:replace="~{::additionalScript} ?: ~{}"/>

    <style>
        input {
            margin-top: 4px;
        }

        select {
            margin-top: 4px;
        }

        tr.striped:nth-child(even) {
            background-color: lightgray;
        }
    </style>

    <th:block th:replace="~{::additionalStyle} ?: ~{}"/>
</head>

<body>

<span th:fragment="top">

<h1>Terraware Administration</h1>

<div style="background-color: lightgreen;" th:if="${!#strings.isEmpty(successMessage)}">
    <th:block th:text="${successMessage}"/>
    <th:ul th:if="${!#lists.isEmpty(successDetails)}">
        <li th:each="detail : ${successDetails}" th:text="${detail}">Detail</li>
    </th:ul>
</div>
<div style="background-color: red;" th:if="${!#strings.isEmpty(failureMessage)}">
    <th:block th:text="${failureMessage}"/>
    <th:ul th:if="${!#lists.isEmpty(failureDetails)}">
        <li th:each="detail : ${failureDetails}" th:text="${detail}">Detail</li>
    </th:ul>
</div>
</span>

</body>
</html>
