<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>
        Terraware Server Placeholder Admin UI
    </title>

    <th:block th:replace="~{::additionalScript} ?: ~{}"/>

    <style>
        input {
            margin-top: 4px;
        }

        select {
            margin-top: 4px;
        }
    </style>

    <th:block th:replace="~{::additionalStyle} ?: ~{}"/>
</head>

<body>

<span th:fragment="top">

<h1>Placeholder Admin UI</h1>

<p style="background-color: lightgreen;" th:if="${!#strings.isEmpty(successMessage)}"
   th:text="${successMessage}"></p>
<div style="background-color: red;" th:if="${!#strings.isEmpty(failureMessage)}">
    <th:block th:text="${failureMessage}"/>
    <th:ul th:if="${!#lists.isEmpty(failureDetails)}">
            <li th:each="detail : ${failureDetails}" th:text="${detail}">Detail</li>
    </th:ul>
</div>
</span>

</body>
</html>
