<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<body>

<span th:include="/admin/header :: top"/>

<h2>Organizations</h2>

<ul>
    <li th:each="organization : ${organizations}">
        <a th:href="|${prefix}/organization/${organization.id}|" th:text="${organization.name}">
            Org name
        </a>
        <span th:text="|(${organization.id})|">(15)</span>
    </li>
</ul>

<div th:if="${canImportGlobalSpeciesData}">
    <h2>Import GBIF species data</h2>

    <p>You can download the data
        <a href="https://hosted-datasets.gbif.org/datasets/backbone/current/backbone.zip">here</a>.
    </p>

    <form method="POST" enctype="multipart/form-data" action="uploadGbif">
        <input type="file" name="zipfile" accept="application/zip" />
        <input type="submit" value=" Upload Zipfile " />
        (can take several minutes)
    </form>
</div>

<h2>Device manager configuration</h2>

<p>
    <a th:href="|${prefix}/deviceManagers|">Device Managers</a>
</p>

<p>
    <a th:href="|${prefix}/deviceTemplates|">Device Templates</a>
</p>

<div th:if="${canSetTestClock}">
    <h2>Test utilities</h2>

    <p>
        <a th:href="|${prefix}/testClock|">Test clock adjustment</a>
    </p>
</div>
</body>
</html>
