<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<details id="organizations" class="section">
    <summary>My Organizations</summary>

    <ul>
        <li th:each="organization : ${organizations}">
            <a th:href="|/admin/organization/${organization.id}|" th:text="${organization.name}">
                Org name
            </a>
            <span th:text="|(${organization.id})|">(15)</span>
        </li>
    </ul>
</details>

<details id="accelerator" class="section">
    <summary>Accelerator</summary>

    <p>
        Module and deliverable management has moved to the
        <a href="/accelerator/modules">accelerator console</a>.
    </p>

    <h3>Projects, Participants, Cohorts</h3>

    <p th:if="${canQueryGeoServer}">
        <a href="/admin/geoServer">GeoServer (GIS) maps</a>
    </p>
    <p th:if="${canManageParticipants}">
        <a href="/admin/participants">Manage participants</a>
    </p>
    <p th:if="${canReadCohorts}">
        <a href="/admin/cohorts">Manage cohorts</a>
    </p>
    <p th:if="${canUpdateDefaultVoters}">
        <a href="/admin/voters">Manage project voters</a>
    </p>
    <p th:if="${canImportGlobalSpeciesData}">
        <a href="/admin/pdh">Import PDH data into Terraware</a>
    </p>

    <th:block th:if="${canManageDocumentProducer}">
        <h3>Document Producer</h3>

        <p>
            <a href="/admin/document-producer">Manage Document Templates and Variables</a>
        </p>
    </th:block>
</details>

<details id="configuration" class="section">
    <summary>Configuration</summary>

    <th:block th:if="${canUpdateAppVersions}">
        <h3>App Versions</h3>

        <p>
            <a href="/admin/appVersions">Update app versions</a>
        </p>
    </th:block>

    <th:block th:if="${canUpdateGlobalRoles}">
        <h3>Global Roles</h3>

        <a href="/admin/globalRoles">Manage Global Roles</a>
    </th:block>

    <div th:if="${canImportGlobalSpeciesData}">
        <h3>Import GBIF species data</h3>

        <p>You can download the data
            <a href="https://hosted-datasets.gbif.org/datasets/backbone/current/backbone.zip">here</a>.
            Use a <code>file://</code> URL to load the data from a file on the server's local
            filesystem.
        </p>

        <form method="POST" enctype="multipart/form-data" action="importGbif">
            <label for="gbifUrl">URL of backbone.zip</label>
            <input id="gbifUrl" type="url" name="url" required/>
            <input type="submit" value="Import"/>
            (can take several minutes)
        </form>
    </div>

    <th:block th:if="${canManageHubSpot}">
        <h3>HubSpot Integration</h3>

        <p>
            <a href="/admin/hubSpot">Manage HubSpot integration</a>
        </p>
    </th:block>
</details>

<details id="testing" class="section" th:if="${canSetTestClock}">
    <summary>Test Utilities</summary>

    <p>
        <a href="/admin/testClock">Test clock adjustment</a>
    </p>

    <p>
        <a href="/admin/convertApi">ConvertAPI integration</a>
    </p>

    <p>
        <a href="/admin/mux">Mux integration</a>
    </p>

    <p>
        <a href="/admin/eventLog">Event log</a>
    </p>
</details>

<details id="organizationManagement" class="section">
    <summary>Organization Management</summary>

    <th:block th:if="${canManageInternalTags}">
        <h2>Internal Tags</h2>

        <p>
            <a href="/admin/internalTags">Manage internal tags</a>
        </p>
    </th:block>

    <th:block th:if="${canAddAnyOrganizationUser}">
        <h2>Add Organization User</h2>

        <p>
            If the role is "Terraformation Contact," the user will be added as an additional
            Terraformation Contact to the organization.
        </p>

        <form method="POST" action="/admin/addOrganizationUser">
            <label for="addUserEmail">Email (user must already exist)</label>
            <input id="addUserEmail" type="email" name="email" required/>
            <label for="addUserOrganizationId">Organization</label>
            <select id="addUserOrganizationId" name="organizationId">
                <option th:each="organization : ${allOrganizations}" th:value="${organization.id}"
                        th:text="|${organization.name} (${organization.id})|">
                    My Org (123)
                </option>
            </select>
            <label for="addUserRole">Role</label>
            <select id="addUserRole" name="role">
                <option th:each="role : ${roles}"
                        th:value="${role.first}"
                        th:text="${role.second}"
                        th:selected="${role.second} == 'Admin'">
                    Some Role
                </option>
            </select>
            <input type="submit" value="Add User"/>
        </form>
    </th:block>

    <th:block th:if="${canRemoveOrganizationUser}">
        <h2>Remove Organization User</h2>

        <form method="POST" action="/admin/removeOrganizationUser">
            <label for="removeOrgUserEmail">Email (user must already exist)</label>
            <input id="removeOrgUserEmail" type="email" name="email" required/>
            <label for="removeOrgUserOrganizationId">Organization</label>
            <select id="removeOrgUserOrganizationId" name="organizationId">
                <option th:each="organization : ${allOrganizations}" th:value="${organization.id}"
                        th:text="|${organization.name} (${organization.id})|">
                    My Org (123)
                </option>
            </select>
            <input type="submit" value="Remove User from Org"/>
        </form>
    </th:block>

    <th:block th:if="${canDeleteUsers}">
        <h2>Delete User</h2>

        <form method="POST" action="/admin/users/delete">
            <label for="deleteUserEmail">Email (user must already exist)</label>
            <input id="deleteUserEmail" type="email" name="email" required/>
            <label for="deleteUserConfirm">Confirm for deleting user (This is irreversible)</label>
            <input id="deleteUserConfirm" type="checkbox" name="confirm"/>
            <input type="submit" value="Delete User"/>
        </form>
    </th:block>
</details>

<details id="tracking" class="section" th:if="${canManageTracking}">
    <summary>Plant Tracking</summary>

    <p>
        <a href="/admin/monitoringPlots">Monitoring Plot Tools</a>
    </p>
</details>

<details id="deviceManager" class="section" th:if="${canCreateDeviceManager}">
    <summary>Device Manager</summary>

    <p>
        <a href="/admin/deviceManagers">Device Managers</a>
    </p>

    <p th:if="${canUpdateDeviceTemplates}">
        <a href="/admin/deviceTemplates">Device Templates</a>
    </p>
</details>

<details id="manageDisclaimers" class="section" th:if="${canManageDisclaimers}">
    <summary>Manage Disclaimers</summary>

    <p>
        <a href="/admin/disclaimers">Manage disclaimers</a>
    </p>
</details>

<details id="migrations" class="section">
    <summary>Migrations</summary>

    <th:block th:if="${canMigrateSimplePlantingSites}">
        <h3>Migrate Simple Planting Sites</h3>

        <p>
            This adds a stratum and a substratum to each planting site that has a site boundary but
            doesn't have strata or substrata, converting it to a detailed planting site. Planting
            sites that don't have site boundaries, or have boundaries of 0.05 hectares or less,
            aren't affected by this migration.
        </p>

        <form method="POST" action="/admin/migrateSimplePlantingSites">
            <input type="submit" value="Migrate Simple Planting Sites"/>
        </form>
    </th:block>

    <th:block th:if="${canRecalculateMortalityRates}">
        <h3>Recalculate Mortality Rates</h3>

        <p>
            This updates the stratum- and site-level mortality rates for a partial observation of a
            planting site to take into account plants from substrata that weren't observed this
            time.
        </p>

        <form method="POST" action="/admin/recalculateMortalityRates">
            <label>
                Planting Site ID:
                <input type="text" name="plantingSiteId"/>
            </label>
            <label>
                Observation ID:
                <input type="text" name="observationId"/>
            </label>
            <input type="submit" value="Recalculate"/>
        </form>
    </th:block>

    <th:block th:if="${canRecalculatePopulations}">
        <h3>Recalculate Planting Site Populations</h3>

        <p>
            This updates the reported plant counts for a planting site based on the total numbers of
            plants from the withdrawal log.
        </p>

        <form method="POST" action="/admin/recalculatePopulations">
            <label>
                Planting Site ID:
                <input type="text" name="plantingSiteId"/>
            </label>
            <input type="submit" value="Recalculate"/>
        </form>
    </th:block>
</details>

<details id="sendTestEmail" class="section" th:if="${canSendTestEmail}">
    <summary>Send Test Email</summary>

    <p>
        <a href="/admin/email">Send Test Email Form</a>
    </p>
</details>

</body>
</html>
