<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<h2>Organizations</h2>

<ul>
    <li th:each="organization : ${organizations}">
        <a th:href="|/admin/organization/${organization.id}|" th:text="${organization.name}">
            Org name
        </a>
        <span th:text="|(${organization.id})|">(15)</span>
    </li>
</ul>

<div th:if="${canUpdateGlobalRoles}">
    <h2>Global Roles</h2>

    <p>
        <a href="/admin/globalRoles">Manage Global Roles</a>
    </p>
</div>

<div th:if="${canImportGlobalSpeciesData}">
    <h2>Import GBIF species data</h2>

    <p>You can download the data
        <a href="https://hosted-datasets.gbif.org/datasets/backbone/current/backbone.zip">here</a>.
        Use a <code>file://</code> URL to load the data from a file on the server's local filesystem.
    </p>

    <form method="POST" enctype="multipart/form-data" action="importGbif">
        <label for="gbifUrl">URL of backbone.zip</label>
        <input id="gbifUrl" type="url" name="url" required />
        <input type="submit" value="Import" />
        (can take several minutes)
    </form>
</div>

<th:block th:if="${canCreateDeviceManager}">
    <h2>Device manager configuration</h2>

    <p>
        <a href="/admin/deviceManagers">Device Managers</a>
    </p>

    <p th:if="${canUpdateDeviceTemplates}">
        <a href="/admin/deviceTemplates">Device Templates</a>
    </p>
</th:block>

<th:block th:if="${canUpdateAppVersions}">
    <h2>App Versions</h2>

    <p>
        <a href="/admin/appVersions">Update app versions</a>
    </p>
</th:block>

<th:block th:if="${canSetTestClock}">
    <h2>Test Utilities</h2>

    <p>
        <a href="/admin/testClock">Test clock adjustment</a>
    </p>
</th:block>

<th:block th:if="${canManageInternalTags}">
    <h2>Internal Tags</h2>

    <p>
        <a href="/admin/internalTags">Manage internal tags</a>
    </p>
</th:block>

<th:block th:if="${canAddAnyOrganizationUser}">
    <h2>Add Organization User</h2>

    <p>
        If the role is "Terraformation Contact" and the organization already has a Terraformation
        contact, the existing contact will be replaced by the new one.
    </p>

    <form method="POST" action="/admin/addOrganizationUser">
        <label for="addUserEmail">Email (user must already exist)</label>
        <input id="addUserEmail" type="email" name="email" required />
        <label for="addUserOrganizationId">Organization</label>
        <select id="addUserOrganizationId" name="organizationId">
            <option th:each="organization : ${allOrganizations}" th:value="${organization.id}"
                    th:text="|${organization.name} (${organization.id})|">
                My Org (123)
            </option>
        </select>
        <label for="addUserRole">Role</label>
        <select id="addUserRole" name="role">
            <option th:each="role : ${roles}"
                    th:value="${role.first}"
                    th:text="${role.second}"
                    th:selected="${role.second} == 'Admin'">
                Some Role
            </option>
        </select>
        <input type="submit" value="Add User"/>
    </form>
</th:block>

<th:block th:if="${canManageParticipants}">
    <h2>Participants</h2>

    <p>
        <a href="/admin/participants">Manage participants</a>
    </p>
</th:block>

</body>
</html>
