<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>

<h2>Device Managers</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Short Code</th>
        <th>Facility ID</th>
        <th>User ID</th>
        <th>Online</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="manager : ${managers}">
        <td>
            <a th:href="|/admin/deviceManagers/${manager.id}|" th:text="${manager.id}">123</a>
        </td>
        <td>
            <a th:href="|/admin/deviceManagers/${manager.id}|" th:text="${manager.sensorKitId}">ABCDE</a>
        </td>
        <td th:text="${manager.facilityId}">
            <a th:href="|/admin/facility/${manager.facilityId}|" th:text="${manager.facilityId}">567</a>
        </td>
        <td th:text="${manager.userId}">123</td>
        <td th:text="${manager.isOnline()}">true</td>
    </tr>
    </tbody>
</table>

<div th:if="${canCreateDeviceManager}">

    <h3>Create New Device Manager</h3>

    <p>
        For development use only!
    </p>

    <form action="/admin/deviceManagers" method="POST">
        <label>
            Sensor Kit ID
            <input type="text" name="sensorKitId"/>
        </label>
        <br/>

        <input type="submit" value="Create"/>
    </form>

</div>

<div th:if="${canRegenerateAllDeviceManagerTokens}">

    <h3>Regenerate All Device Manager Offline Refresh Tokens</h3>

    <p>
        This will invalidate all existing device manager offline refresh tokens and generate new
        ones. It should be used when there is a configuration change that causes existing tokens
        to no longer work. It applies to all device managers across all organizations.
    </p>

    <p>
        If there are a lot of device managers or Balena's API is slow, this may time out! Check the
        server logs to monitor its progress in that case.
    </p>

    <form action="/admin/deviceManagers/regenerateAllTokens" method="POST">
        <input type="submit" value="Regenerate All Tokens"/>
    </form>

</div>

</body>
</html>
