<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}">
    <style th:fragment="additionalStyle">
        ul.plain {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
</head>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>

<h2>Participants</h2>

<table th:if="${!participants.isEmpty()}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Projects</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="participant : ${participants}" class="striped">
        <td>
            <a th:href="|/admin/participants/${participant.id}|" th:text="${participant.id}">123</a>
        </td>
        <td>
            <a th:href="|/admin/participants/${participant.id}|" th:text="${participant.name}">Name</a>
        </td>
        <td>
            <ul class="plain">
                <li th:each="projectId : ${participant.projectIds}"
                    th:text="|${projectsById.get(projectId).name} (${organizationsById[projectsById.get(projectId).organizationId].name})|">
                    Project Name (My Org)
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${canCreateParticipant}">

    <h3>Create New Participant</h3>

    <form action="/admin/createParticipant" method="POST">
        <label>
            Name
            <input type="text" name="name"/>
        </label>
        <br/>

        <input type="submit" value="Create"/>
    </form>

</div>

</body>
</html>
