<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>

<h2>Internal Tags</h2>

<p>
    These tags are not visible to end users. Tags labeled "System" are predefined and can't be
    deleted or edited.
</p>

<ul>
    <li th:each="tag : ${tags}">
        <a th:href="|/admin/internalTag/${tag.id}|" th:text="${tag.name}">Tag Name</a>

        <th:block th:text="|(${tag.id})|">(123)</th:block>
        <th:block th:if="${tag.isSystem()}"><b>System</b></th:block>
        <th:block th:if="${tag.description}" th:text="| - ${tag.description}|"> - Howdy</th:block>

    </li>
</ul>

<form method="POST" action="/admin/createInternalTag">
    <label>
        Name
        <input type="text" name="name" size="15" required/>
    </label>
    <label>
        Description
        <input type="text" name="description" size="50"/>
    </label>
    <input type="submit" value="Create Tag"/>
</form>

<h3>Organizations</h3>

<table>
    <th:block th:each="organization : ${allOrganizations}">
        <tr th:if="${(organizationStat.index % 25) == 0}">
            <th>ID</th>
            <th>Name</th>
            <th th:each="tag : ${tags}" th:text="${tag.name}">Tag</th>
            <th></th>
        </tr>
        <tr class="striped">
            <td th:text="${organization.id}">123</td>
            <td th:text="${organization.name}">My Org</td>
            <td th:each="tag : ${tags}">
                <input
                        type="checkbox"
                        th:form="|update-${organization.id}|"
                        th:name="tagId"
                        th:value="${tag.id}"
                        th:checked="${organizationTags.containsKey(organization.id)
                                && organizationTags[organization.id].contains(tag.id)}"
                />
            </td>
            <td>
                <form method="POST"
                      th:id="|update-${organization.id}|"
                      action="/admin/updateOrganizationInternalTags">
                    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
                    <input type="submit" value="Update"/>
                </form>
            </td>
        </tr>
    </th:block>

</table>

</body>
</html>
