<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>

<th:block th:if="${canManageModules}">
    <h2>Modules</h2>

    <form method="POST" action="/admin/uploadModules" enctype="multipart/form-data">
        <label>
            Modules Spreadsheet (CSV)
            <input type="file" name="file" required/>
        </label>
        <input type="submit"/>
    </form>


    <table>
        <thead>
        <tr>
            <th>Module Name</th>
            <th>Module ID</th>
            <th>Cohorts</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="module : ${modules}" class="striped">
            <td>
                <a th:href="|/admin/modules/${module.id}|" th:text="${module.name}">
                    Module Name
                </a>
            </td>
            <td th:text="${module.id}">Module ID</td>
            <td>
                <ul>
                    <li th:each="cohort:${cohorts.get(module.id)}" th:text="${cohort.name}">Cohort Name</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>

<th:block th:if="${canManageDeliverables}">
    <h2>Deliverables</h2>

    <th:block th:if="${hasModules}">
        <form method="POST" action="/admin/uploadDeliverables" enctype="multipart/form-data">
            <label>
                Deliverables Spreadsheet (CSV)
                <input type="file" name="file" required/>
            </label>
            <input type="submit"/>
        </form>
    </th:block>

    <p th:if="!${hasModules}">
        No modules defined! Upload a modules list to enable uploading deliverables.
    </p>
</th:block>

</body>
</html>
