<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>
-
<a href="/admin/modules">Modules</a>

<th:block th:if="${canManageModules}">
    <h2 th:text="|(${module.id}) Module ${module.name}|">Module (name)</h2>

    <p>
        Preview module content and schedule events. Event schedules are all in UTC. CMD or CRTL +
        click to select multiple projects for adding/removing from events. An event type without
        any descriptions will not have any event sessions.
    </p>

    <h3> Cohorts and Projects </h3>
    <div th:each="cohort : ${module.cohorts}">
        <h4 th:text="${cohortNames.get(cohort.cohortId)} + ' '
            + ${#temporals.format(cohort.startDate, 'yyyy/MM/dd')} + ' - '
            + ${#temporals.format(cohort.endDate, 'yyyy/MM/dd')}">
            Cohort Name (Start Date - End Date)
        </h4>
        <ul th:each="projectId : ${cohort.projects}">
            <li th:text="${projectNames.get(projectId)}"> Project Name </li>
        </ul>
    </div>

    <hr>
    <h3> Deliverables </h3>
    <table>
        <thead>
        <tr>
            <th>Position</th>
            <th>ID</th>
            <th>Category</th>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
            <th>Required</th>
            <th>Sensitive</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="deliverable : ${module.deliverables}" class="striped">
            <td th:text="${deliverable.position}">Deliverable Position</td>
            <td th:text="${deliverable.id}">Deliverable ID</td>
            <td th:text="${deliverable.category.getDisplayName(#locale.default)}">Deliverable Category</td>
            <td th:text="${deliverable.type.getDisplayName(#locale.default)}">Deliverable Type</td>
            <td th:text="${deliverable.name}">Deliverable Name</td>
            <td th:utext="${deliverable.descriptionHtml}">Deliverable Description</td>
            <td><input type="checkbox" th:value="${deliverable.required}" disabled /> </td>
            <td><input type="checkbox" th:value="${deliverable.sensitive}" disabled /> </td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <th:block th:if="${module.overview}">
        <hr>
        <h3> Overview </h3>
        <div th:utext="${module.overview}"> </div>
    </th:block>

    <th:block th:if="${module.preparationMaterials}">
        <hr>
        <h3> Preparation Materials </h3>
        <div th:utext="${module.preparationMaterials}"> </div>
    </th:block>

    <th:block th:if="${module.additionalResources}">
        <hr>
        <h3> Additional Resources </h3>
        <div th:utext="${module.additionalResources}"> </div>
    </th:block>

    <div th:each="event : ${module.eventDescriptions.keySet()}">
        <hr>
        <h3 th:text="${event.getDisplayName(#locale.default)}"> Event Type </h3>
        <div th:utext="${module.eventDescriptions.get(event)}"> Event Description </div>

        <h4> Sessions </h4>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Start Time</th>
                <th th:if="${event != T(com.terraformation.backend.db.accelerator.EventType).RecordedSession}">End Time</th>
                <th th:if="${event != T(com.terraformation.backend.db.accelerator.EventType).RecordedSession}">Meeting Link</th>
                <th>Recording Link</th>
                <th>Slides Link</th>
                <th>Remove projects</th>
                <th>Add projects</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="eventSession : ${module.eventSessions.get(event)}" class="striped">
                <td th:text="${eventSession.id}">Event ID</td>
                <td th:text="${eventSession.eventStatus.getDisplayName(#locale.default)}">Event Status</td>
                <td>
                    <input type="datetime-local"
                           name="startTime"
                           required
                           th:form="|update-${eventSession.id}|"
                           th:value="${#temporals.format(eventSession.startTime.atZone('UTC'), dateFormat)}" />
                </td>
                <td th:if="${event != T(com.terraformation.backend.db.accelerator.EventType).RecordedSession}">
                    <input type="datetime-local"
                           name="endTime"
                           required
                           th:form="|update-${eventSession.id}|"
                           th:value="${#temporals.format(eventSession.endTime.atZone('UTC'), dateFormat)}" />
                </td>
                <td th:if="${event != T(com.terraformation.backend.db.accelerator.EventType).RecordedSession}">
                    <input type="url"
                           name="meetingUrl"
                           th:form="|update-${eventSession.id}|"
                           th:value="${eventSession.meetingUrl}"
                    />
                </td>
                <td>
                    <input type="url"
                           name="recordingUrl"
                           th:form="|update-${eventSession.id}|"
                           th:value="${eventSession.recordingUrl}"
                    />
                </td>
                <td>
                    <input type="url"
                           name="slidesUrl"
                           th:form="|update-${eventSession.id}|"
                           th:value="${eventSession.slidesUrl}"
                    />
                </td>
                <td>
                    <select name="toRemove"
                            th:form="|update-${eventSession.id}|"
                            multiple>
                        <option th:each="projectId : ${eventSession.projects}"
                                th:text="${cohortProjectNames.get(projectId)}"
                                th:value="${projectId}">
                            Project Name
                        </option>
                    </select>
                </td>
                <td>
                    <select name="toAdd"
                            th:form="|update-${eventSession.id}|"
                            multiple>
                        <option th:each="projectId : ${moduleProjects}"
                                th:if="${eventSession.projects.isEmpty() || !eventSession.projects.contains(projectId)}"
                                th:text="${cohortProjectNames.get(projectId)}"
                                th:value="${projectId}">
                            Project Name
                        </option>
                    </select>
                </td>
                <td>
                    <form method="POST"
                          th:id="|update-${eventSession.id}|"
                          th:action="|/admin/modules/${module.id}/updateEvent|">
                        <input type="hidden" name="id" th:value="${eventSession.id}"/>
                        <input type="submit"
                               value="Update" />
                    </form>
                </td>
                <td>
                    <form method="POST"
                          th:id="|delete-${eventSession.id}|"
                          th:action="|/admin/modules/${module.id}/deleteEvent|">
                        <input type="hidden" name="id" th:value="${eventSession.id}"/>
                        <input type="submit"
                               th:disabled="${eventSession.projects.size() > 0}"
                               value="Delete" />
                    </form>
                </td>
            </tr>

            <tr class="striped">
                <td></td>
                <td></td>
                <td>
                    <input type="datetime-local"
                           name="startTime"
                           required
                           th:form="|add-${event.getId()}|" />
                </td>
                <td th:if="${event != T(com.terraformation.backend.db.accelerator.EventType).RecordedSession}">
                    <input type="datetime-local"
                           name="endTime"
                           required
                           th:form="|add-${event.getId()}|" />
                </td>
                <td th:if="${event != T(com.terraformation.backend.db.accelerator.EventType).RecordedSession}">
                    <input type="url"
                           name="meetingUrl"
                           th:form="|add-${event.getId()}|" />
                </td>
                <td>
                    <input type="url"
                           name="recordingUrl"
                           th:form="|add-${event.getId()}|" />
                </td>
                <td>
                    <input type="url"
                           name="slidesUrl"
                           th:form="|add-${event.getId()}|" />
                </td>
                <td>
                </td>
                <td>
                    <select name="toAdd"
                            th:form="|add-${event.getId()}|"
                            multiple>
                        <option th:each="projectId : ${moduleProjects}"
                                th:text="${cohortProjectNames.get(projectId)}"
                                th:value="${projectId}">
                            Project Name
                        </option>
                    </select>
                </td>
                <td>
                    <form method="POST"
                          th:id="|add-${event.getId()}|"
                          th:action="|/admin/modules/${module.id}/createEvent|">
                        <input type="hidden" name="eventTypeId" th:value="${event.getId()}"/>
                        <input type="submit"
                               value="Create" />
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

</body>
</html>
