<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<p>
    <a href="/admin/">Home</a>
</p>

<h2>Manage Observations</h2>

<h3>Delete Observation</h3>

<p>
    Completely delete an observation and all its data. This may affect aggregate statistics
    such as survival rate in later observations.
</p>

<form method="POST" action="/admin/deleteObservation">
    <label>
        Observation ID
        <input type="text" name="observationId" required/>
    </label>
    <input type="submit" value="Delete Observation"/>
</form>

<h3>Remove Incomplete Plots from Abandoned Observation</h3>

<p>
    Remove all the plots that weren't completed in an abandoned observation. Optionally retain
    incomplete permanent plots that weren't observed in a specific set of observations.
    The observation will continue to be marked as abandoned even if its remaining plots are all
    completed.
</p>

<form method="POST" action="/admin/deleteIncompletePlots">
    <label>
        Observation ID
        <input type="text" name="observationId" required/>
    </label>
    <label>
        Retain permanent plots not observed in observation IDs (comma-separated)
        <input type="text" name="retainObservationIds"/>
    </label>
    <label>
        Mode
        <select name="dryRun">
            <option value="true" selected>Dry Run</option>
            <option value="false">Apply Changes</option>
        </select>
    </label>
    <input type="submit" value="Remove Incomplete Plots"/>
</form>

<h3>Merge Observations</h3>

<p>
    Move all the data from a source observation to a target observation, deleting the source
    observation. If the same plot was completed in both observations, the data for that plot from
    the target observation is deleted (that is, the merge overwrites any existing data). This will
    affect aggregated statistics for the target observation and possibly for later observations.
</p>

<form method="POST" action="/admin/mergeObservations">
    <label>
        Source observation ID
        <input type="text" name="sourceObservationId" required/>
    </label>
    <label>
        Target observation ID
        <input type="text" name="targetObservationId" required/>
    </label>
    <input type="submit" value="Merge Observations"/>
</form>

</body>
</html>
