<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<script th:fragment="additionalScript" th:inline="javascript">
    /*<![CDATA[*/
    function warnOnDelete(event) {
        if (!confirm("Deleting a report will also delete all its photos and cannot be undone. Are you sure?")) {
            event.preventDefault();
        }
    }

    function loadCss(url) {
        const link = document.createElement('link');
        link.href = url;
        link.rel = 'stylesheet';
        document.head.appendChild(link);
    }

    function loadScript(url, func) {
        const script = document.createElement('script');
        script.src = url;
        script.async = false;
        if (func) {
            script.onload = func;
        }

        document.head.appendChild(script);
    }

    function boundaryChanged() {
        const boundaryInput = document.getElementById('boundary');
        const mapSubmit = document.getElementById('mapSubmit');

        mapSubmit.disabled = !boundaryInput.value;
    }

    // Shows the map control for defining a test planting site. We defer loading the Mapbox CSS and
    // JS until it's actually needed.
    function showMap() {
        const boundaryInput = document.getElementById('boundary');
        const mapButton = document.getElementById('showMap');
        const mapContainer = document.getElementById('map');
        const mapInstructions = document.getElementById('mapInstructions');
        const orientation = document.getElementById('orientation');

        loadCss('https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css');
        loadCss('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css');
        loadScript('https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js');
        loadScript('https://unpkg.com/@turf/turf@6/turf.min.js');
        loadScript('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.js', () => {
            mapButton.style.display = 'none';
            mapContainer.style.display = 'block';
            mapInstructions.style.display = 'block';

            mapboxgl.accessToken = /*[[${mapboxToken}]]*/;

            const map = new mapboxgl.Map({
                container: 'map',
                fitBoundsOptions: { padding: 10 },
                style: 'mapbox://styles/mapbox/satellite-streets-v12',
            });

            const draw = new MapboxDraw({
                controls: {
                    polygon: true,
                    trash: true,
                },
                defaultMode: 'draw_polygon',
                displayControlsDefault: false,
            });

            const geolocate = new mapboxgl.GeolocateControl({
                fitBoundsOptions: {
                    maxDuration: 1500,
                },
                positionOptions: {
                    enableHighAccuracy: true,
                },
            });

            map.addControl(draw);
            map.addControl(geolocate);
            map.addControl(new mapboxgl.ScaleControl());

            const updateBoundary = (e) => {
                const features = draw.getAll()['features'];
                const geometry = features && features[0] ? features[0].geometry : null;

                if (geometry) {
                    boundaryInput.value = JSON.stringify(geometry);
                } else {
                    boundaryInput.value = '';
                }

                boundaryChanged();
            };

            map.on('draw.create', updateBoundary);
            map.on('draw.delete', updateBoundary);
            map.on('draw.update', updateBoundary);

            /**
             * Paths to follow to draw outlines at each valid orientation. Each step is an azimuth
             * and a distance in meters. The first step sets the starting point of the path
             * relative to the center of the map view. The outline is closed automatically; there's
             * no need to include a step that returns to the starting point.
             *
             * This creates a boundary that's 1 meter larger than strictly necessary since there
             * can be differences in geometry calculation accuracy on the client and server sides.
             */
            const paths = {
                'horizontal': [
                    [-120, 33],
                    [90, 61],
                    [0, 31],
                    [-90, 61],
                ],
                'vertical': [
                    [-150, 33],
                    [0, 61],
                    [90, 31],
                    [180, 61],
                ],
            };

            const outline = (startingPoint, path) => {
                const points = [];
                let position = startingPoint;
                for (const step of path) {
                    position = turf.destination(position, step[1], step[0], { units: 'meters'});
                    points.push(position.geometry.coordinates);
                }

                // Close the polygon.
                points.push(points[0]);

                return {
                    type: 'Polygon',
                    coordinates: [points],
                };
            };

            const addMinimalSite = (e) => {
                const {lng, lat} = map.getCenter();
                const centerPoint = turf.point([lng, lat]);
                const polygon = outline(centerPoint, paths[orientation.value]);

                draw.deleteAll();
                const featureIds = draw.add(polygon);

                updateBoundary(e);

                map.easeTo({center: [lng, lat], zoom: 18});

                // Allow the user to drag the site boundary around.
                draw.changeMode('simple_select', { featureIds: featureIds });
            };

            document.getElementById('addMinimalSite').addEventListener('click', addMinimalSite);
            orientation.addEventListener('change', addMinimalSite);
        });
    }
    /*]]>*/
</script>

<style>
    table.bordered, table.bordered tr th, table.bordered tr td {
        border: 1px solid black;
    }

    table.bordered td, table.bordered th {
        padding: .25em;
    }

    div.validationOption {
        padding-left: 4em;
    }

    #map {
        display: none;
        width: 50%;
        height: 600px;
    }

    #mapInstructions {
        display: none;
    }
</style>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>

<h2 th:text="|Organization ${organization.name} (${organization.id})|">Organization (name)</h2>

<h3>Facilities</h3>

<ul>
    <li th:each="facility : ${facilities}">
        <a th:href="|/admin/facility/${facility.id}|">
            <span th:text="|${facility.name}|">MySeedBank</span>
            (<span th:text="${facility.type.jsonValue}">Seed Bank</span>
            <span th:text="${facility.id}">12345</span>)
        </a>
    </li>
</ul>

<form method="POST" action="/admin/createFacility" th:if="${canCreateFacility}">
    <h4>Create Facility</h4>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="facilityName">Name</label>
    <input type="text" name="name" id="facilityName" required/>
    <label for="facilityType">Type</label>
    <select name="type" id="facilityType">
        <option th:each="type : ${facilityTypes}" th:value="${type.id}"
                th:text="${type.jsonValue}">Type
        </option>
    </select>
    <input type="submit" value=" Create Facility "/>
</form>

<hr style="margin-top: 20px"/>

<h3>Planting Sites</h3>

<ol>
    <li th:value="${site.id}" th:each="site : ${plantingSites}">
        <a th:href="|/admin/plantingSite/${site.id}|" th:text="${site.name}">Site Name</a>
    </li>
</ol>

<form method="POST" enctype="multipart/form-data" action="/admin/createPlantingSite"
      th:if="${canCreatePlantingSite}">
    <h4>Create Planting Site from Shapefiles</h4>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="siteName">Name</label>
    <input type="text" name="siteName" id="siteName" required/>
    <br/>
    Grid Origin (optional). To specify grid origin for generating monitoring plots.
    <label for="gridOriginLat">Latitude</label>
    <input type="text" name="gridOriginLat" id="gridOriginLat"/>
    <label for="gridOriginLong">Longitude</label>
    <input type="text" name="gridOriginLong" id="gridOriginLong"/>
    <br/>
    <label for="zipfile">Zipfile</label>
    <input type="file" name="zipfile" id="zipfile" required/>
    Must contain either one or two shapefiles (exclusions shapefile is optional) and their
    associated supplementary datafiles.
    <br/>
    <input type="submit" value=" Create Planting Site "/>
</form>

<form method="POST" action="/admin/createPlantingSiteFromMap"
      th:if="${canCreatePlantingSite}">
    <h4>Create Test Planting Site from Map (for development testing)</h4>

    <p>
        Planting site will only have one stratum and one substratum. Do not use this
        to create planting sites for real partners! The site boundary must be big enough to contain
        a 50 by 50 meter axis-aligned square.
    </p>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="siteName">Name</label>
    <input type="text" name="siteName" id="siteName" required/>
    <br/>
    <label for="boundary">Boundary (GeoJSON polygon)</label>
    <textarea name="boundary" id="boundary" rows="2" cols="40"></textarea>
    <button type="button" id="showMap">Draw Boundary on Map</button>

    <span id="mapInstructions">
        <p>
            Draw a polygon on the map. Double-click to finish drawing.
        </p>
        <p>
            Or you can
            <button type="button" id="addMinimalSite">add a minimal site</button>
            with 2 plots arranged
            <select id="orientation">
                <option value="horizontal" selected>horizontally</option>
                <option value="vertical">vertically</option>
            </select>
        </p>
    </span>

    <span id="map"></span>
    <br/>

    <label for="siteType">Site Type</label>
    <select name="siteType" id="siteType">
        <option value="detailed" selected>Detailed (with strata and substrata)</option>
        <option value="simple">Simple (site boundary only)</option>
    </select>
    <br/>
    <input id="mapSubmit" type="submit" disabled value=" Create Planting Site "/>
</form>

<hr style="margin-top: 20px"/>

<h3>Reports</h3>

<ul>
    <li th:each="report : ${reports}">
        <th:block th:text="|${report.year}-Q${report.quarter} (${report.id})|"></th:block>
        -
        <a th:href="|/admin/report/${report.id}/index.html|">View HTML</a>
        -
        <a th:href="|/admin/report/${report.id}/report.csv|">View CSV</a>
        <form method="POST"
              action="/admin/exportReport"
              th:if="${canExportReport}"
              style="display: inline-block;">
            <input type="hidden" name="organizationId" th:value="${organization.id}"/>
            <input type="hidden" name="reportId" th:value="${report.id}"/>
            <input type="submit" value="Export to Google Drive"/>
        </form>
        <form method="POST"
              action="/admin/deleteReport"
              class="deleteReportForm"
              th:if="${canDeleteReport}"
              style="display: inline-block;">
            <input type="hidden" name="organizationId" th:value="${organization.id}"/>
            <input type="hidden" name="reportId" th:value="${report.id}"/>
            <input type="submit" value="Delete"/>
        </form>
    </li>
</ul>

<form method="POST" action="/admin/createReport" th:if="${canCreateReport}">
    <h4>Create Report (for development testing)</h4>
    <p>
        The report will be created for the previous quarter. Adjust the test clock if you want to
        create reports for multiple quarters.
    </p>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <input type="submit" value=" Create Report "/>
</form>

<script>
    const forms = document.getElementsByClassName('deleteReportForm');
    for (let i = 0; i < forms.length; i++) {
        forms[i].addEventListener('submit', warnOnDelete);
    }

    document.getElementById('boundary').addEventListener('change', boundaryChanged);
    document.getElementById('showMap').addEventListener('click', showMap);
</script>

</body>
</html>
