<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<style>
    table.bordered, table.bordered tr th, table.bordered tr td {
        border: 1px solid black;
    }

    table.bordered td, table.bordered th {
        padding: .25em;
    }
</style>
<body>

<span th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a>

<h2 th:text="|Organization ${organization.name} (${organization.id})|">Organization (name)</h2>

<h3>Facilities</h3>

<ul>
    <li th:each="facility : ${facilities}">
        <a th:href="|${prefix}/facility/${facility.id}|">
            <span th:text="|${facility.name}|">MySeedBank</span>
            (<span th:text="${facility.type.displayName}">Seed Bank</span>
            <span th:text="${facility.id}">12345</span>)
        </a>
    </li>
</ul>

<form method="POST" th:action="|${prefix}/createFacility|" th:if="${canCreateFacility}">
    <h4>Create Facility</h4>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="facilityName">Name</label>
    <input type="text" name="name" id="facilityName" required/>
    <label for="facilityType">Type</label>
    <select name="type" id="facilityType">
        <option th:each="type : ${facilityTypes}" th:value="${type.id}"
                th:text="${type.displayName}">Type
        </option>
    </select>
    <input type="submit" value=" Create Facility "/>
</form>

</body>
</html>
