<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<style>
    table.bordered, table.bordered tr th, table.bordered tr td {
        border: 1px solid black;
    }

    table.bordered td, table.bordered th {
        padding: .25em;
    }
</style>
<body>

<span th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a>

<h2 th:text="|Organization ${organization.name} (${organization.id})|">Organization (name)</h2>

<h3>Facilities</h3>

<ul>
    <li th:each="facility : ${facilities}">
        <a th:href="|${prefix}/facility/${facility.id}|">
            <span th:text="|${facility.name}|">MySeedBank</span>
            (<span th:text="${facility.type.displayName}">Seed Bank</span>
            <span th:text="${facility.id}">12345</span>)
        </a>
    </li>
</ul>

<form method="POST" th:action="|${prefix}/createFacility|" th:if="${canCreateFacility}">
    <h4>Create Facility</h4>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="facilityName">Name</label>
    <input type="text" name="name" id="facilityName" required/>
    <label for="facilityType">Type</label>
    <select name="type" id="facilityType">
        <option th:each="type : ${facilityTypes}" th:value="${type.id}"
                th:text="${type.displayName}">Type
        </option>
    </select>
    <input type="submit" value=" Create Facility "/>
</form>

<h3>Users</h3>

<ul>
    <li th:each="user : ${users}">
        <a th:href="|${prefix}/user/${user.userId}|"
           th:text="|${user.firstName} ${user.lastName} (${user.email})|">user@domain</a>
        <span th:text="|(${user.role.displayName})|" th:if="!${canAddUser}">(role)</span>
        <span th:if="${canAddUser}">
            <form method="POST" style="display: inline;"
                  th:action="|${prefix}/setOrganizationUserRole|">
                <input type="hidden" name="organizationId" th:value="${organization.id}"/>
                <input type="hidden" name="userId" th:value="${user.userId}"/>
                <select name="role">
                    <option th:each="role : ${roles}" th:selected="${user.role} == ${role}"
                            th:value="${role.id}" th:text="${role.displayName}">Role</option>
                </select>
                <input type="submit" value=" Update Role "/>
            </form>

            <form method="POST" style="display: inline;"
                  th:action="|${prefix}/removeOrganizationUser|">
                <input type="hidden" name="organizationId" th:value="${organization.id}"/>
                <input type="hidden" name="userId" th:value="${user.userId}"/>
                <input type="submit" value=" Remove User from Organization "/>
            </form>
        </span>
    </li>
</ul>

<form method="POST" th:action="|${prefix}/createUser|" th:if="${canAddUser}">
    <h4>Add User to Organization</h4>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="email">Email Address</label>
    <input type="email" name="email" id="email" required/>
    <select name="role">
        <option th:text="${role.displayName}" th:value="${role.id}" th:each="role : ${roles}">Role
            name
        </option>
    </select>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName"/>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName"/>
    <input type="submit" value=" Add User to Organization "/>
</form>

<div th:if="${canListApiKeys}">

    <h3>API Keys</h3>

    <table class="bordered">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>

        <tr th:each="client : ${apiClients}">
            <td th:text="${client.email}">123-456-789</td>
            <td th:text="${client.firstName}">Description</td>
            <td th:text="${apiClientCreatedTimes[client.email]}">2021-11-22 33:44:55Z</td>
            <td>
                <form method="POST" th:action="|${prefix}/deleteApiKey|" th:if="${canDeleteApiKey}">
                    <input type="hidden" name="userId" th:value="${client.userId}"/>
                    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
                    <input type="submit" value=" Delete "/>
                </form>
            </td>
        </tr>
    </table>

    <form method="POST" th:action="|${prefix}/createApiKey|" th:if="${canCreateApiKey}">
        <h4>Create API Key</h4>

        <input type="hidden" name="organizationId" th:value="${organization.id}"/>
        <label for="apiKeyDescription">Description (optional)</label>
        <input type="text" name="description" id="apiKeyDescription"/>
        <input type="submit" value=" Create API Key "/>
    </form>

</div>

</body>
</html>
