<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head">
    <style th:fragment="additionalStyle">
        table.bordered, table.bordered tr th, table.bordered tr td {
            border: 1px solid black;
        }

        table.bordered td, table.bordered th {
            padding: .25em;
        }

        label::before {
            content: '';
            display: block;
        }

        #map {
            width: 100%;
            height: 600px;
        }
    </style>

    <th:block th:fragment="additionalScript">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    </th:block>

</head>

<body>

<th:block th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a> -
<a th:href="|${prefix}/organization/${organization.id}|" th:text="${organization.name}">Org Name</a>

<h2 th:text="|Planting Site ${site.name} (${site.id})|">Planting Site Name (123)</h2>

<form method="POST" th:action="|${prefix}/updatePlantingSite|" th:if="${canUpdatePlantingSite}">
    <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
    <label for="siteName">Name</label>
    <input type="text" id="siteName" name="siteName" th:value="${site.name}" minlength="1"
           required/>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" th:value="${site.description}"/>
    <br/>
    <input type="submit" value="Update"/>
</form>

<form method="POST" th:action="|${prefix}/movePlantingSite|" th:if="${canMovePlantingSiteToAnyOrg}"
      id="moveForm">
    <h3>Move to New Organization</h3>

    <p>
        <strong>WARNING!</strong> If you move a planting site, you will no longer be able to view it
        unless you are a member of the organization you're moving it to. Make sure you're done
        checking it for errors before you move it.
    </p>

    <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
    <label for="organizationId">Organization</label>
    <select id="organizationId" name="organizationId">
        <option th:each="org : ${allOrganizations}" th:value="${org.id}"
                th:text="|${org.name} (${org.id})|"
                th:selected="${org.id == organization.id}">
            My Org (123)
        </option>
    </select>
    <input type="submit" value="Move"/>
</form>

<th:div th:if="!${canUpdatePlantingSite}">
    Description:
    <th:block th:text="${site.description}"/>
</th:div>

<th:block th:if="!${site.plantingZones.isEmpty()}">

    <h3>Site Map</h3>

    <div id="map"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        mapboxgl.accessToken = /*[[${mapboxToken}]]*/;

        const prefix = /*[[${prefix}]]*/;
        const envelope = /*[[${envelope}]]*/;
        const siteId = /*[[${site.id}]]*/;
        const bounds = new mapboxgl.LngLatBounds(envelope.coordinates[0][0], envelope.coordinates[0][2]);

        const map = new mapboxgl.Map({
            bounds: bounds,
            container: 'map',
            fitBoundsOptions: { padding: 10 },
            style: 'mapbox://styles/mapbox/satellite-streets-v12',
        });

        map.on('load', () => {
            map.addSource('site', {
                type: 'geojson',
                data: /*[[${siteGeoJson}]]*/,
            });

            map.addSource('zones', {
                type: 'geojson',
                data: /*[[${zonesGeoJson}]]*/,
            });

            map.addSource('subzones', {
                type: 'geojson',
                data: /*[[${subzonesGeoJson}]]*/,
            });

            map.addSource('plots', {
                type: 'geojson',
                data: `${prefix}/plantingSite/${siteId}/plots`,
            });

            map.addLayer({
                id: 'plots',
                type: 'line',
                source: 'plots',
                layout: {},
                paint: {
                    'line-color': 'green',
                }
            });

            map.addLayer({
                id: 'subzones',
                type: 'line',
                source: 'subzones',
                layout: {},
                paint: {
                    'line-color': 'grey',
                }
            });

            map.addLayer({
                id: 'zones',
                type: 'line',
                source: 'zones',
                layout: {},
                paint: {
                    'line-color': 'yellow',
                }
            });

            map.addLayer({
                id: 'zoneLabels',
                type: 'symbol',
                source: 'zones',
                layout: {
                    'text-field': ['get', 'name'],
                },
                paint: {
                    'text-color': 'yellow',
                    'text-halo-color': 'black',
                    'text-halo-width': 2,
                }
            });

            map.addLayer({
                id: 'site',
                type: 'line',
                source: 'site',
                layout: {},
                paint: {
                    'line-color': 'white',
                }
            });
        });
        /*]]>*/
    </script>

    <h3 th:text="|Planting Zones (${numPlantingZones}) and Subzones (${numSubzones}) and Monitoring Plots (${numPlots})|">
        Planting Zones (1) and Subzones (2) and Monitoring Plots (3)
    </h3>

    <ul>
        <li th:each="zone : ${site.plantingZones}">
            <th:block th:text="${zone.name}">Zone Name</th:block>
            <ul th:if="!${zone.plantingSubzones.isEmpty()}">
                <li th:each="subzone : ${zone.plantingSubzones}"
                    th:text="|${subzone.name} (${plotCounts[zone.id][subzone.id] ?: 0})|">
                    Subzone X (50)
                </li>
            </ul>
        </li>
    </ul>
</th:block>

<script th:if="${canMovePlantingSiteToAnyOrg}">
    document.getElementById('moveForm').addEventListener('submit', event => {
        const orgSelect = document.getElementById('organizationId');
        const orgName = orgSelect.options[orgSelect.selectedIndex].text;

        if (!confirm(`Are you sure you want to move the planting site to ${orgName}?`)) {
            event.preventDefault();
        }
    });
</script>
</body>
</html>
