<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}">
    <style th:fragment="additionalStyle">
        table.bordered, table.bordered tr th, table.bordered tr td {
            border: 1px solid black;
        }

        table.bordered td, table.bordered th {
            padding: .25em;
        }

        table#subzones>tbody>tr>:nth-child(n+3):nth-child(-n+5) {
            text-align: right;
        }

        label::before {
            content: '';
            display: block;
        }

        table#plotCounts input[type="number"] {
            text-align: right;
        }

        table#plotCounts td {
            text-align: right;
        }

        input[type="number"] {
            width: 5em;
        }

        div#mapButton {
            padding-bottom: 1em;
        }
    </style>

    <th:block th:fragment="additionalScript">
        <script th:inline="javascript">
            function registerPlotCalculator(zoneId) {
                const errorMarginField = document.getElementById(`errorMargin-${zoneId}`);
                const permanentPlotsField = document.getElementById(`numPermanent-${zoneId}`);
                const studentsTField = document.getElementById(`studentsT-${zoneId}`);
                const temporaryPlotsField = document.getElementById(`numTemporary-${zoneId}`);
                const totalPlotsField = document.getElementById(`total-${zoneId}`);
                const varianceField = document.getElementById(`variance-${zoneId}`);

                const calculateDefaultTotalPlots = () => {
                    const errorMargin = Number.parseFloat(errorMarginField.value);
                    const studentsT = Number.parseFloat(studentsTField.value);
                    const variance = Number.parseFloat(varianceField.value);
                    return Math.ceil((studentsT * studentsT) * variance / errorMargin / errorMargin);
                };

                const recalculateTotalPlots = () => {
                    const permanentPlots = Number.parseFloat(permanentPlotsField.value) || 0;
                    const temporaryPlots = Number.parseFloat(temporaryPlotsField.value) || 0;
                    const totalPlots = permanentPlots + temporaryPlots;

                    totalPlotsField.innerText = `${totalPlots}`;
                };

                const recalculateTemporaryPlots = () => {
                    const defaultTotalPlots = calculateDefaultTotalPlots();
                    const permanentPlots = Number.parseFloat(permanentPlotsField.value);
                    const temporaryPlots = Math.max(1, defaultTotalPlots - permanentPlots);

                    temporaryPlotsField.value = `${temporaryPlots}`;

                    recalculateTotalPlots();
                };

                const recalculatePermanentPlots = () => {
                    const defaultTotalPlots = calculateDefaultTotalPlots();
                    const permanentPlots = Math.round(defaultTotalPlots * 0.75);

                    permanentPlotsField.value = `${permanentPlots}`;

                    recalculateTemporaryPlots();
                };

                errorMarginField.addEventListener('change', recalculatePermanentPlots);
                studentsTField.addEventListener('change', recalculatePermanentPlots);
                varianceField.addEventListener('change', recalculatePermanentPlots);
                permanentPlotsField.addEventListener('change', recalculateTemporaryPlots);
                temporaryPlotsField.addEventListener('change', recalculateTotalPlots);
            }

            function showMapPopup() {
                /*<![CDATA[*/
                const envelope = /*[[${envelope}]]*/;
                const siteId = /*[[${site.id}]]*/;
                /*]]>*/

                window.open(`/admin/plantingSite/${siteId}/map`);
            }

            function warnOnDelete(event) {
                /*<![CDATA[*/
                const numPlants = /*[[${reportedPlants.totalPlants}]]*/;
                const numSpecies = /*[[${reportedPlants.totalSpecies}]]*/;
                /*]]>*/
                let plantsWarning = '';
                if (numPlants > 0) {
                    plantsWarning =
                        `This site has ${numPlants} plants of ${numSpecies} species! ` +
                        'Deleting it will destroy all records of those plants. ';
                }

                if (!confirm(plantsWarning + 'Are you sure?')) {
                    event.preventDefault();
                }
            }
        </script>
    </th:block>

</head>

<!--/* Renders a month selector. */-->
<select th:fragment="monthSelect (id,value)" th:id="${id}" th:name="${id}" th:if="${id}">
    <option value="" th:selected="${value == null}">--</option>
    <option th:each="month : ${months}"
            th:value="${month.key}"
            th:text="${month.value}"
            th:selected="${value == month.key}">
    </option>
</select>

<body>

<th:block th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a> -
<a th:href="|/admin/organization/${organization.id}|" th:text="${organization.name}">Org Name</a>

<h2 th:text="|Planting Site ${site.name} (${site.id})|">Planting Site Name (123)</h2>

<p th:if="${country} != null" th:text="|Country: ${country.name} (${country.code})|"/>

<p>
    Outplantings reported:
    <th:block th:text="${reportedPlants.totalPlants}">123</th:block>
    plants,
    <th:block th:text="${reportedPlants.totalSpecies}">6</th:block>
    species
</p>

<div id="mapButton" th:if="${site.boundary} != null">
    <button onclick="showMapPopup()">Click to View Map</button> (opens in new window)
</div>

<form method="POST" action="/admin/updatePlantingSite" th:if="${canUpdatePlantingSite}">
    <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
    <label for="siteName">Name</label>
    <input type="text" id="siteName" name="siteName" th:value="${site.name}" minlength="1"
           required/>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" th:value="${site.description}"/>
    <br/>
    <input type="submit" value="Update"/>
</form>

<h3>Planting Seasons</h3>

<ol>
    <li th:each="season : ${pastPlantingSeasons}">
        <input type="date" disabled th:value="${season.startDate}">
        -
        <input type="date" disabled th:value="${season.endDate}">
    </li>
    <li th:each="season : ${futurePlantingSeasons}">
        <form method="POST" action="/admin/updatePlantingSeason" style="display: inline-block;">
            <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
            <input type="hidden" name="plantingSeasonId" th:value="${season.id}"/>
            <input type="date" name="startDate" required th:value="${season.startDate}"/>
            -
            <input type="date" name="endDate" required th:value="${season.endDate}"/>
            <input type="submit" value="Update"/>
        </form>
        <form method="POST" action="/admin/deletePlantingSeason" style="display: inline-block;">
            <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
            <input type="hidden" name="plantingSeasonId" th:value="${season.id}"/>
            <input type="submit" value="Delete"/>
        </form>
    </li>
    <li>
        <form method="POST" action="/admin/createPlantingSeason">
            <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
            <input type="date" name="startDate" required/>
            -
            <input type="date" name="endDate" required/>
            <input type="submit" value="Create"/>
        </form>
    </li>
</ol>

<form method="POST" action="/admin/movePlantingSite" th:if="${canMovePlantingSiteToAnyOrg}"
      id="moveForm">
    <h3>Move to New Organization</h3>

    <p>
        <strong>WARNING!</strong> If you move a planting site, you will no longer be able to view it
        unless you are a member of the organization you're moving it to. Make sure you're done
        checking it for errors before you move it.
    </p>

    <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
    <label for="organizationId">Organization</label>
    <select id="organizationId" name="organizationId">
        <option th:each="org : ${allOrganizations}" th:value="${org.id}"
                th:text="|${org.name} (${org.id})|"
                th:selected="${org.id == organization.id}">
            My Org (123)
        </option>
    </select>
    <input type="submit" value="Move"/>
</form>

<th:div th:if="!${canUpdatePlantingSite}">
    Description:
    <th:block th:text="${site.description}"/>
</th:div>

<th:block th:if="!${site.plantingZones.isEmpty()}">

    <th:block th:if="${canUpdatePlantingSite}">
        <h3>Planting Zone Settings</h3>

        <table id="plotCounts">
            <tr>
                <th>Zone ID</th>
                <th>Name</th>
                <th>Target<br/>Density</th>
                <th>Variance</th>
                <th>Error</th>
                <th>Student's t</th>
                <th>Permanent</th>
                <th>Temporary</th>
                <th>Total</th>
                <th></th>
            </tr>

            <tr th:each="zone : ${site.plantingZones}">
                <td th:text="${zone.id}">1</td>
                <td title="Zone name edits will not show up in the site's map history; they will be applied retroactively, as if they had been the names in the most recently uploaded shapefile. If you want the old names to appear in the map history, upload a new shapefile instead of renaming the zones here.">
                    <input required name="name" th:value="${zone.name}" th:form="|zone-${zone.id}|"/>
                    &#9432;
                </td>
                <td>
                    <input type="number" required min="1" name="targetPlantingDensity" size="8"
                           th:value="${zone.targetPlantingDensity}" th:form="|zone-${zone.id}|"/>
                </td>
                <td>
                    <input type="number" required min="0.001" step="0.001" name="variance" size="8" th:id="|variance-${zone.id}|"
                           th:value="${zone.variance}" th:form="|zone-${zone.id}|"/>
                </td>
                <td>
                    <input type="number" required min="0.001" step="0.001" name="errorMargin" th:id="|errorMargin-${zone.id}|"
                           th:value="${zone.errorMargin}" th:form="|zone-${zone.id}|"/>
                </td>
                <td>
                    <input type="number" required min="0.001" step="0.001" name="studentsT" th:id="|studentsT-${zone.id}|"
                           th:value="${zone.studentsT}" th:form="|zone-${zone.id}|"/>
                </td>
                <td>
                    <input type="number" required min="1" name="numPermanent" th:id="|numPermanent-${zone.id}|"
                           th:value="${zone.numPermanentPlots}" th:form="|zone-${zone.id}|"/>
                </td>
                <td>
                    <input type="number" required min="1" name="numTemporary" th:id="|numTemporary-${zone.id}|"
                           th:value="${zone.numTemporaryPlots}" th:form="|zone-${zone.id}|"/>
                </td>
                <td>
                    <span th:id="|total-${zone.id}|"
                          th:text="${zone.numPermanentPlots != null || zone.numTemporaryPlots != null ? (zone.numPermanentPlots ?: 0) + (zone.numTemporaryPlots ?: 0) : ''}">
                        123
                    </span>
                </td>
                <td style="padding-left: 8px;">
                    <form method="POST" action="/admin/updatePlantingZone" th:id="|zone-${zone.id}|">
                        <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
                        <input type="hidden" name="plantingZoneId" th:value="${zone.id}"/>
                        <input type="submit" value="Update"/>
                    </form>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        registerPlotCalculator(/*[[${zone.id}]]*/);
                        /*]]>*/
                    </script>
                </td>
            </tr>
        </table>

        <h3>Upload New Shapefiles</h3>

        <form method="POST" enctype="multipart/form-data" action="/admin/updatePlantingSiteShapefiles">
            <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
            <label>
                Zipfile
                <input type="file" name="zipfile" required/>
            </label>
            <br/>
            <label>
                Operation
                <select name="dryRun">
                    <option value="true" selected>Dry run (no change to site)</option>
                    <option value="false">Apply changes to site</option>
                </select>
            </label>
            <br/>
            <label>
                Subzone IDs to mark incomplete (comma-separated)
                <input type="text" name="subzoneIdsToMarkIncomplete"/>
            </label>
            <br/>
            <input type="submit" value="Use Updated Shapefiles"/>
        </form>
    </th:block>

    <h3>Site Details</h3>

    <h4 th:text="|Planting Zones (${numPlantingZones}) and Subzones (${numSubzones}) and Monitoring Plots (${numPlots})|">
        Planting Zones (1) and Subzones (2) and Monitoring Plots (3)
    </h4>

    <table id="subzones" class="bordered">
        <tr>
            <th>Zone</th>
            <th>Subzone</th>
            <th>Area<br/>(ha)</th>
            <th>Plots</th>
            <th>Reported<br/>Plants</th>
            <th>Stable ID</th>
            <th>ID</th>
        </tr>

        <th:block th:each="zone : ${site.plantingZones}">
            <tr>
                <td th:text="${zone.name}" colspan="5">Zone</td>
                <td th:text="${zone.stableId}">SID</td>
                <td th:text="${zone.id}">1234</td>
            </tr>

            <tr th:each="subzone : ${zone.plantingSubzones}">
                <td></td>
                <td th:text="${subzone.name}">Subzone</td>
                <td th:text="${subzone.areaHa}">123.45</td>
                <td th:text="${plotCounts[zone.id][subzone.id] ?: 0}">1000</td>
                <td th:text="${plantCounts[subzone.id] ?: 0}">543</td>
                <td th:text="${subzone.stableId}">999</td>
                <td th:text="${subzone.id}">999</td>
            </tr>
        </th:block>
    </table>

    <h3>Observations</h3>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Start</th>
            <th>End</th>
            <th>
                Requested Subzones
                <br/>
                <small>
                    If none, use whole site
                </small>
            </th>
            <th>State</th>
            <th></th>
        </tr>

        <tr th:each="observation : ${observations}">
            <td th:text="${observation.id}">1</td>
            <td th:text="${observation.startDate}">2023-01-01</td>
            <td th:text="${observation.endDate}">2023-01-31</td>
            <td>
                    <div th:each="subzoneId : ${observation.requestedSubzoneIds}"
                        th:text="|${subzonesById.get(subzoneId).fullName} (${subzoneId})|">
                        abc-123 (456)
                    </div>
            </td>
            <td th:text="${observation.state}">Upcoming</td>
            <td>
                <th:block th:text="${observationMessages[observation.id]}"></th:block>
                <form th:if="${canStartObservations[observation.id]}"
                      method="POST"
                      action="/admin/startObservation">
                    <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
                    <input type="hidden" name="observationId" th:value="${observation.id}"/>
                    <input type="submit" value="Start"/>
                </form>
            </td>
        </tr>

        <tr th:if="${canCreateObservation}">
            <td></td>
            <td>
                <input type="date" form="createObservation" name="startDate" th:value="${nextObservationStart}"/>
            </td>
            <td>
                <input type="date" form="createObservation" name="endDate" th:value="${nextObservationEnd}"/>
            </td>
            <td>
                <select multiple form="createObservation" name="requestedSubzoneIds">
                    <option th:each="subzone : ${subzonesById.values()}"
                            th:text="|${subzone.fullName} (${subzone.id})|"
                            th:value="${subzone.id}">
                        abc-123 (456)
                    </option>
                </select>
            </td>
            <td></td>
            <td>
                <form method="POST" id="createObservation" action="/admin/createObservation">
                    <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
                    <input type="submit" value="Create Observation"/>
                </form>
            </td>
        </tr>
    </table>
</th:block>

<th:block th:if="${canDeletePlantingSite}">
    <h3>Delete Planting Site</h3>

    <p>
        <b>This is irreversible!</b> Deleting a planting site will destroy all record of any
        plants that have been reported, and will delete the site's map data.
    </p>

    <form id="deleteSiteForm" method="POST" action="/admin/deletePlantingSite">
        <input type="hidden" name="organizationId" th:value="${organization.id}"/>
        <input type="hidden" name="plantingSiteId" th:value="${site.id}"/>
        <input type="submit" value="Delete Planting Site"/>
    </form>
</th:block>

<script th:if="${canMovePlantingSiteToAnyOrg}">
    document.getElementById('moveForm').addEventListener('submit', event => {
        const orgSelect = document.getElementById('organizationId');
        const orgName = orgSelect.options[orgSelect.selectedIndex].text;

        if (!confirm(`Are you sure you want to move the planting site to ${orgName}?`)) {
            event.preventDefault();
        }
    });
</script>

<script th:if="${canDeletePlantingSite}">
    document.getElementById('deleteSiteForm').addEventListener('submit', warnOnDelete);
</script>
</body>
</html>
