<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${site.name}">Planting Site Name</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .container {
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        .container p {
            margin: 2px;
        }

        #map {
            flex: 1 1 auto;
        }
    </style>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
</head>

<body>

<h1 th:if="${site.boundary} == null">This planting site has no map data.</h1>

<div class="container" th:if="${site.boundary} != null">

    <p th:if="!${site.strata.isEmpty()}">
        Temporary plots are for illustration only. Actual temporary plots will be chosen at random
        when the observation begins.

        <button id="cycleStyles">Light/Dark</button>
    </p>

    <div id="map"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        mapboxgl.accessToken = /*[[${mapboxToken}]]*/;

        const envelope = /*[[${envelope}]]*/;
        const exclusion = /*[[${exclusionGeoJson}]]*/;
        const siteId = /*[[${site.id}]]*/;
        const bounds = new mapboxgl.LngLatBounds(envelope.coordinates[0][0], envelope.coordinates[0][2]);

        const styles = [
            {
                // Default style with black plot outlines for visibility against terrain.
                base: 'mapbox://styles/mapbox/satellite-streets-v12',
                outlineColor: 'black',
            },
            {
                // Dark style with colored plot outlines.
                base: 'mapbox://styles/mapbox/dark-v11',
            }
        ];

        let styleNumber = 0;
        let currentStyle = styles[styleNumber];

        const map = new mapboxgl.Map({
            bounds: bounds,
            container: 'map',
            fitBoundsOptions: {padding: 10},
            style: currentStyle.base,
        });

        function initializeMapLayers() {
            map.addSource('site', {
                type: 'geojson',
                data: /*[[${siteGeoJson}]]*/,
            });

            map.addSource('strata', {
                type: 'geojson',
                data: /*[[${strataGeoJson}]]*/,
            });

            map.addSource('substrata', {
                type: 'geojson',
                data: /*[[${substrataGeoJson}]]*/,
            });

            map.addSource('plots', {
                type: 'geojson',
                data: `/admin/plantingSite/${siteId}/plots`,
                // Don't hide plots when viewing very large maps
                tolerance: 0,
            });

            if (exclusion) {
                map.addSource('exclusion', {
                    'type': 'geojson',
                    data: exclusion,
                });
            }

            map.addLayer({
                id: 'plots',
                type: 'fill',
                source: 'plots',
                filter: [
                    'match',
                    ['get', 'type'],
                    'permanent',
                    false,
                    'temporary',
                    false,
                    true,
                ],
                layout: {},
                paint: {
                    'fill-color': 'green',
                    'fill-opacity': 0.5,
                    'fill-outline-color': currentStyle.outlineColor ?? 'green'
                }
            });

            map.addLayer({
                id: 'temporaryPlots',
                type: 'fill',
                source: 'plots',
                filter: [
                    'match',
                    ['get', 'type'],
                    'temporary',
                    true,
                    false,
                ],
                layout: {},
                paint: {
                    'fill-color': 'orange',
                    'fill-opacity': 0.5,
                }
            });

            map.addLayer({
                id: 'temporaryPlotOutlines',
                type: 'line',
                source: 'plots',
                filter: [
                    'match',
                    ['get', 'type'],
                    'temporary',
                    true,
                    false,
                ],
                layout: {},
                paint: {
                    'line-color': currentStyle.outlineColor ?? 'orange'
                }
            });

            map.addLayer({
                id: 'permanentPlots',
                type: 'fill',
                source: 'plots',
                filter: [
                    'match',
                    ['get', 'type'],
                    'permanent',
                    true,
                    false,
                ],
                layout: {},
                paint: {
                    'fill-color': 'lightgreen',
                    'fill-opacity': 0.5,
                }
            });

            map.addLayer({
                id: 'permanentPlotOutlines',
                type: 'line',
                source: 'plots',
                filter: [
                    'match',
                    ['get', 'type'],
                    'permanent',
                    true,
                    false,
                ],
                layout: {},
                paint: {
                    'line-color': currentStyle.outlineColor ?? 'lightgreen'
                }
            });

            map.addLayer({
                id: 'substrata',
                type: 'line',
                source: 'substrata',
                layout: {},
                paint: {
                    'line-color': 'grey',
                }
            });

            map.addLayer({
                id: 'strata',
                type: 'line',
                source: 'strata',
                layout: {},
                paint: {
                    'line-color': 'yellow',
                }
            });

            map.addLayer({
                id: 'substratumLabels',
                type: 'symbol',
                source: 'substrata',
                layout: {
                    'text-field': ['get', 'name'],
                },
                paint: {
                    'text-color': 'grey',
                    'text-halo-color': 'black',
                    'text-halo-width': 2,
                }
            });

            map.addLayer({
                id: 'stratumLabels',
                type: 'symbol',
                source: 'strata',
                layout: {
                    'text-field': ['get', 'name'],
                },
                paint: {
                    'text-color': 'yellow',
                    'text-halo-color': 'black',
                    'text-halo-width': 2,
                }
            });

            map.addLayer({
                id: 'site',
                type: 'line',
                source: 'site',
                layout: {},
                paint: {
                    'line-color': 'white',
                }
            });

            if (exclusion) {
                map.addLayer({
                    id: 'exclusion',
                    type: 'fill',
                    source: 'exclusion',
                    layout: {},
                    paint: {
                        'fill-color': 'red',
                        'fill-opacity': 0.5,
                        'fill-outline-color': 'red'
                    }
                });
            }

            const plotClickHandler = (e) => {
                const props = e.features[0].properties;
                const detailsLineItems = [
                    `ID: ${props.id}`,
                    `Stratum: ${props.stratum}`,
                    `Substratum: ${props.substratum}`,
                    props.permanentIndex ? `Permanent: ${props.permanentIndex}` : null,
                    props.type ? `Type: ${props.type}` : null,
                ];

                const popupBody = detailsLineItems.filter(Boolean).join('<br/>');
                const description = `<h4>${props.plotNumber}</h4>${popupBody}`;

                new mapboxgl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML(description)
                        .addTo(map);
            };

            map.on('click', 'permanentPlots', plotClickHandler);
            map.on('click', 'temporaryPlots', plotClickHandler);
            map.on('click', 'plots', plotClickHandler);
        }

        map.on('style.load', () => {
            // Layers are considered part of the style by Mapbox, so when we change to a different
            // base style (light/dark) we need to add the layers to it.
            initializeMapLayers();
        });

        const cycleStylesHandler = (e) => {
            styleNumber = (styleNumber + 1) % styles.length;
            currentStyle = styles[styleNumber];
            map.setStyle(currentStyle.base);
        };

        document.getElementById('cycleStyles').addEventListener('click', cycleStylesHandler);
        /*]]>*/
    </script>

</div>

</body>
</html>
