<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<body>

<span th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a> -
<a th:href="|${prefix}/organization/${organization.id}|" th:text="${organization.name}">Org Name</a>

<h2 th:text="|Project ${project.name} (${project.id})|">Project (id)</h2>

<h3>Users</h3>

<ul>
    <li th:each="user : ${users}">
        <span th:text="|${user.email} (${user.role.displayName})|">user@domain (role)</span>
        <form method="POST" style="display: inline;" th:action="|${prefix}/removeProjectUser|">
            <input type="hidden" name="projectId" th:value="${project.id}"/>
            <input type="hidden" name="userId" th:value="${user.userId}"/>
            <input type="submit" value=" Remove from Project"/>
        </form>
    </li>
</ul>

<form method="POST" th:action="|${prefix}/addProjectUser|" th:if="${availableUsers.size()} > 0">
    <input type="hidden" name="projectId" th:value="${project.id}"/>
    <select name="userId">
        <option th:each="user : ${availableUsers}" th:value="${user.userId}"
                th:text="|${user.email} (${user.role.displayName})|">
            User (Role)
        </option>
    </select>
    <input type="submit" value=" Add User to Project "/>
</form>

<h3>Sites</h3>

<ul>
    <li th:each="site : ${sites}">
        <a th:href="|${prefix}/site/${site.id}|" th:text="${site.name}">Site</a>
        <span th:text="|(${site.id})|"></span>
    </li>
</ul>

<form method="POST" th:action="|${prefix}/createSite|" th:if="${canCreateSite}">
    <h4>Create Site</h4>

    <input type="hidden" name="projectId" th:value="${project.id}"/>
    <label for="siteName">Name</label>
    <input type="text" name="name" id="siteName" required/>
    <label for="latitude">Latitude</label>
    <input type="number" name="latitude" id="latitude" min="-180" max="180" step="0.000001"
           required/>
    <label for="longitude">Longitude</label>
    <input type="number" name="longitude" id="longitude" min="-180" max="180" step="0.000001"
           required/>
    <label for="layerTypes">Layers</label>
    <select multiple name="layerTypes" id="layerTypes" style="vertical-align: top;">
        <option th:each="layerType : ${defaultLayerTypes}" th:value="|${layerType}|"
                th:text="|${layerType.displayName}|" selected="selected">
            Layer Name
        </option>
        <option th:each="layerType : ${otherLayerTypes}" th:value="|${layerType}|"
                th:text="|${layerType.displayName}|">
            Layer Name
        </option>
    </select>
    <input type="submit" value=" Create Site "/>
</form>

</body>
</html>
