<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}"/>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a href="/admin/">Home</a>
-
<a href="/admin/projectIndicators">Projects with Indicators</a>

<h2 th:text="|(${project.id}) ${project.name}|"> Project Name </h2>

<h2>Project Indicators</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Reference</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="indicator : ${projectIndicators}" class="striped">
        <td th:text="${indicator.id}">ID</td>
        <td th:text="${indicator.name}">Indicator Name</td>
        <td th:text="${indicator.reference}">Indicator Reference</td>
        <td>
            <form method="POST"
                  th:id="|delete-${indicator.id}|"
                  action="/admin/deleteProjectIndicators">
                <input type="hidden" name="indicatorId" th:value="${indicator.id}"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>