<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<style>
    table.bordered, table.bordered tr th, table.bordered tr td {
        border: 1px solid black;
    }

    table.bordered td, table.bordered th {
        padding: .25em;
    }

    .map {
        width: 100%;
        height: 400px;
    }
</style>
<body>

<span th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a>

<h2>Shapefile viewer</h2>

<!-- TODO: Permission for this -->
<form method="POST" enctype="multipart/form-data" th:action="|${prefix}/viewShapefile|"
      th:if="${canCreateFacility}">

    <label for="zipfile">Zipfile</label>
    <input type="file" name="zipfile" id="zipfile" required/>
    <input type="submit" value=" View Shapefiles "/>
    <p>
        Zipfile must contain three shapefiles and their associated supplementary datafiles.
    </p>
</form>

<div id="map" class="map" th:if="${mapData} != null">
</div>
<h3>Facilities</h3>

<ul>
    <li th:each="facility : ${facilities}">
        <a th:href="|${prefix}/facility/${facility.id}|">
            <span th:text="|${facility.name}|">MySeedBank</span>
            (<span th:text="${facility.type.displayName}">Seed Bank</span>
            <span th:text="${facility.id}">12345</span>)
        </a>
    </li>
</ul>

<form method="POST" th:action="|${prefix}/createFacility|" th:if="${canCreateFacility}">
    <h4>Create Facility</h4>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="facilityName">Name</label>
    <input type="text" name="name" id="facilityName" required/>
    <label for="facilityType">Type</label>
    <select name="type" id="facilityType">
        <option th:each="type : ${facilityTypes}" th:value="${type.id}"
                th:text="${type.displayName}">Type
        </option>
    </select>
    <input type="submit" value=" Create Facility "/>
</form>

<!-- TODO: Permission for this -->
<form method="POST" enctype="multipart/form-data" th:action="|${prefix}/createPlantingSite|"
      th:if="${canCreateFacility}">
    <h4>Create Planting Site</h4>

    <input type="hidden" name="organizationId" th:value="${organization.id}"/>
    <label for="siteName">Name</label>
    <input type="text" name="siteName" id="siteName" required/>
    <label for="zipfile">Zipfile</label>
    <input type="file" name="zipfile" id="zipfile" required/>
    <input type="submit" value=" Create Planting Site "/>
    <p>
        Zipfile must contain three shapefiles and their associated supplementary datafiles.
    </p>
</form>

</body>
</html>
