<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<body>

<span th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a> -
<a th:href="|${prefix}/organization/${organization.id}|" th:text="${organization.name}">Org Name</a>
-
<a th:href="|${prefix}/project/${project.id}|" th:text="${project.name}">Project Name</a>

<h2 th:text="|Site ${site.name} (${site.id})|">Site (id)</h2>

<p>
    Latitude: <span th:text="${site.latitude.toPlainString()}">123.45678</span>
    <br>
    Longitude: <span th:text="${site.longitude.toPlainString()}">-44.99997</span>
</p>

<h3>Facilities</h3>

<ul>
    <li th:each="facility : ${facilities}">
        <span th:text="|${facility.name}|">MySeedBank</span>
        (<span th:text="${facility.type.displayName}">Seed Bank</span>
        <span th:text="${facility.id}">12345</span>)
    </li>
</ul>

<form method="POST" th:action="|${prefix}/createFacility|" th:if="${canCreateFacility}">
    <h4>Create Facility</h4>

    <input type="hidden" name="siteId" th:value="${site.id}"/>
    <label for="facilityName">Name</label>
    <input type="text" name="name" id="facilityName" required/>
    <label for="facilityType">Type</label>
    <select name="type" id="facilityType">
        <option th:each="type : ${facilityTypes}" th:value="${type.id}"
                th:text="${type.displayName}">Type
        </option>
    </select>
    <input type="submit" value=" Create Facility "/>
</form>

</body>
</html>
