<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/header :: head}">
    <script th:fragment="additionalScript">
        setTimeout(() => location.reload(), 30000);
    </script>
</head>
<body>

<span th:replace="~{/admin/header :: top}"/>

<a th:href="|${prefix}/|">Home</a>

<h2>Test Clock Adjustment</h2>

<p>Current server time is <b th:text="${currentTime}"></b>. (Will refresh every 30 seconds.)

<p>
<form method="POST" th:action="|${prefix}/advanceTestClock|">
    Advance clock by
    <input name="quantity" size="2" maxlength="2" type="text" value="1"/>
    <select name="units">
        <option value="D">days</option>
        <option value="H">hours</option>
        <option value="M">minutes</option>
    </select>
    :
    <input type="submit" value="Do It!"/>
</form>

<p>
<form method="POST" th:action="|${prefix}/resetTestClock|">
    <input type="submit" value="Reset Clock to Current Time"/>
</form>

<h2>About the test clock</h2>

<p>
    The test clock is intended for testing time-based triggers such as "accession is finished
    drying" notifications. The intended usage pattern:
</p>
<ol>
    <li>
        Create some data that will trigger an action some number of days in the future.
    </li>
    <li>
        Advance the clock by less than the number of days in question to make sure the action isn't
        triggered erroneously.
    </li>
    <li>
        Advance the clock the rest of the way to the expected date to make sure the action is
        triggered.
    </li>
</ol>
<p>
    Some caveats:
</p>
<ul>
    <li>
        The clock is server-wide. If someone else is testing on the same server when you advance the
        clock, it will advance for them as well.
    </li>
    <li>
        Advancing the clock will cause future dates to be written to the database. Some of those
        dates will be visible in the user interface. If you're testing and you forgot you advanced
        the clock, this might look like a bug ("the app is showing tomorrow's date, not today's
        like I expected").
    </li>
    <li>
        Resetting the clock does not update any existing data. The future dates will still be
        visible.
    </li>
    <li>
        Some parts of the system keep track of the most recent time they did a particular kind of
        work, so that the next time they run, they can catch up on anything that has happened since
        the previous run. For example, the process that scans for recently-updated accessions only
        looks for accessions that have changed since the last time it ran. Advancing the system
        clock will cause the system to think that the most recent run is in the future. If you then
        reset the clock, the system will think there's no work to do since it thinks it has already
        caught up with everything.
    </li>
</ul>
</body>
</html>
