<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/header :: head"/>
<body>

<span th:include="/admin/header :: top"/>

<a th:href="|${prefix}/|">Home</a>

<h2 th:text="|${user.firstName} ${user.lastName} (${user.email})|">First Last (x@y.com)</h2>

<form method="POST" th:action="|${prefix}/setUserMemberships|">

    <input type="hidden" name="userId" th:value="${user.userId}"/>

    <div th:each="organization : ${organizations}">
        <input type="checkbox" name="organizationId"
               th:checked="${user.organizationRoles[organization.id]} != null"
               th:value="${organization.id}"/>

        <a th:href="|${prefix}/organization/${organization.id}|">
            Org:
            <span th:text="${organization.name}">Organization Name</span>
        </a>
        -
        <select name="role">
            <option th:each="role : ${roles}" th:value="|${organization.id}:${role.id}|"
                    th:selected="${role} == ${user.organizationRoles[organization.id]}"
                    th:text="${role.displayName}">Role Name
            </option>
        </select>

        <div style="padding-left: 1em; padding-top: .5ex;"
             th:each="project : ${projects[organization.id]}">
            <input type="checkbox" th:name="projectId"
                   th:checked="${user.projectRoles[project.id]} != null"
                   th:value="${project.id}"/>
            <a th:href="|${prefix}/project/${project.id}|">
                Project:
                <span th:text="${project.name}">Project Name</span>
            </a>
        </div>
        <br/>
    </div>

    <br/>
    <input type="submit" value=" Save Changes "/>

</form>
</body>
</html>
