__pycache__
*.pyc
.gradle
.venv
application-dev*.yaml
build
node_modules
out
.idea
openapi.yaml
.env
.DS_Store

# Stop Phrase from including original English strings in GitHub exports
src/main/resources/i18n/*_en.properties
