terraware:
  gbif:
    dataset-ids:
      # International Plant Names Index
      - "046bbc50-cae2-47ff-aa43-729fbf53f7c5"
      # The IUCN Red List of Threatened Species
      - "19491596-35ae-4a91-9a98-85cf505f1bd3"
      # Catálogo de Plantas y Líquenes de Colombia
      - "5c0b1470-8884-4914-ae76-70a7c81d6d08"
      # GRIN Taxonomy
      - "66dd0960-2d7d-46ee-a491-87b9adcfe7b1"
      # Catalogue of Life Checklist
      - "7ddf754f-d193-4cc9-b351-99906754a03b"
      # A list of the terrestrial fungi, flora and fauna of Madeira and Selvagens archipelagos
      - "a43ec6d8-7b8a-4868-ad74-56b824c75698"
      # Referral of the Halocypridina Thaumatocypris (Miocene, Australia) to the Cladocopina (Ostracoda, Halocyprida)
      - "af3841ac-293b-4c0f-9b95-3718da4f124b"
      # The Leipzig catalogue of vascular plants
      - "bae5856f-da10-4333-90a0-5a2135361b30"
      # Taxon list of vascular plants from Bavaria, Germany compiled in the context of the BFL project
      - "d027759f-84bc-4dfc-a5ea-b17a50793451"
      # GBIF Backbone Taxonomy
      - "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"
      # The Plant List with literature
      - "d9a4eedb-e985-4456-ad46-3df8472e00e8"
      # The World Checklist of Vascular Plants (WCVP)
      - "f382f0ce-323a-4091-bb9f-add557f3a9a2"
      # The World Checklist of Vascular Plants (WCVP): Fabaceae
      - "f7053f73-74fb-4c9f-ab63-de28c61140c2"
    distribution-sources:
      - "The IUCN Red List of Threatened Species"
  keycloak:
    api-client-id: "api"

spring:
  ai:
    openai:
      embedding:
        options:
          model: "text-embedding-3-large"

  autoconfigure:
    exclude:
      - org.springframework.ai.model.openai.autoconfigure.OpenAiAudioSpeechAutoConfiguration
      - org.springframework.ai.model.openai.autoconfigure.OpenAiAudioTranscriptionAutoConfiguration
      - org.springframework.ai.model.openai.autoconfigure.OpenAiChatAutoConfiguration
      - org.springframework.ai.model.openai.autoconfigure.OpenAiEmbeddingAutoConfiguration
      - org.springframework.ai.model.openai.autoconfigure.OpenAiImageAutoConfiguration
      - org.springframework.ai.model.openai.autoconfigure.OpenAiModerationAutoConfiguration
      - org.springframework.ai.vectorstore.pgvector.autoconfigure.PgVectorStoreAutoConfiguration

  datasource:
    url: "${DATABASE_URL:jdbc:postgresql://localhost:5432/terraware}"
    username: "${DATABASE_USER:${USER:postgres}}"
    password: "${DATABASE_PASSWORD:}"
    hikari:
      exception-override-class-name: "software.amazon.jdbc.util.HikariCPSQLException"

  flyway:
    placeholders:
      jsonColumnType: "JSONB"
      uuidColumnType: "UUID"

  jackson:
    default-property-inclusion: non_absent

  mail:
    # Spring Boot Mail checks for the existence of this option; we want to enable it even if
    # we aren't using SMTP.
    host: dummy
    # Default to using authentication and TLS. Can opt out in local configuration.
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            redirect-uri: "{baseUrl}/api/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
              - email

  servlet:
    multipart:
      enabled: true
      max-request-size: 200MB
      max-file-size: 200MB

  session:
    store-type: jdbc

  threads:
    virtual:
      enabled: true

server:
  tomcat:
    max-http-form-post-size: 200MB

management:
  health:
    diskspace:
      # Disable checking of disk space; the server runs in a Docker container so this would be
      # measuring the free space in the container's filesystem which isn't too useful.
      enabled: false
    mail:
      # Disable checking health of mail server; we don't want to mark terraware-server as down
      # if the mail service is having an unrelated outage.
      enabled: false

# Configuration for the Swagger API explorer. These settings are used when the server is running
# and serving real requests; there are also settings in application-apidoc.yaml that are used when
# generating the API documentation from the command line.
springdoc:
  api-docs:
    version: "openapi_3_0"
  # Limit the package scan to just the API classes. Otherwise the schema will include a bunch of
  # internal data model classes we don't actually expose to clients.
  packages-to-scan:
    - "com.terraformation.backend.accelerator.api"
    - "com.terraformation.backend.documentproducer.api"
    - "com.terraformation.backend.customer.api"
    - "com.terraformation.backend.device.api"
    - "com.terraformation.backend.funder.api"
    - "com.terraformation.backend.gis.api"
    - "com.terraformation.backend.i18n.api"
    - "com.terraformation.backend.nursery.api"
    - "com.terraformation.backend.report.api"
    - "com.terraformation.backend.search.api"
    - "com.terraformation.backend.seedbank.api"
    - "com.terraformation.backend.species.api"
    - "com.terraformation.backend.support.api"
    - "com.terraformation.backend.time.api"
    - "com.terraformation.backend.tracking.api"
  default-produces-media-type: "application/json"
  swagger-ui:
    # Disable the demo API (pet store)
    disable-swagger-default-url: true
    operations-sorter: alpha
    tags-sorter: alpha
    # Allow the user to use "try it out" after logging into the web app; this will cause their
    # session cookie from the web app to be included in requests generated by the Swagger UI.
    with-credentials: true
  writer-with-order-by-keys: true

jobrunr:
  background-job-server:
    # All terraware-server instances can run scheduled jobs.
    enabled: true

logging:
  level:
    # Suppress warning spew when CountryDetector loads country borders
    org.geotools.feature: ERROR
