spring:
  ai:
    openapi:
      api-key:

  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri:
        registration:
          keycloak:
            client-id:
            client-secret:
      resourceserver:
        jwt:
          issuer-uri:

  datasource:
    username:
    password:

  web:
    resources:
      # Don't cache static resources. Local edits to admin UI static files are immediately visible.
      cache:
        period: 0
      chain:
        cache: false
