# Default settings if no Spring profile is specified. In production, we always specify a profile,
# so this is effectively the default settings file for dev environments. You can override any of
# these settings locally by creating a file application-dev.yaml (it is already in .gitignore).

terraware:
  # By default, the frontend dev service listens on HTTP port 3000.
  web-app-url: "http://localhost:3000/"
  photo-dir: "/tmp/terraware-server-photos"
  use-test-clock: true
  email:
    always-send-to-override-address: true
    subject-prefix: "[DEV]"
  mux:
    use-test-assets: true
  # Log all request and response bodies in dev environments.
  request-log:
    email-regex: ".*"

spring:
  cloud:
    aws:
      sqs:
        listener:
          # Use a short poll timeout in dev environments because a long timeout makes server
          # shutdown take longer (it waits for the current poll request to time out).
          poll-timeout: "PT1S"
  flyway:
    # During development, it is convenient to temporarily add a repeatable migration and work on it
    # until it's correct, then make it a versioned migration. By default, Flyway would bomb out due
    # to the repeatable migration going missing.
    ignore-migration-patterns: "*:missing"
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: "dev-terraware-server"
  thymeleaf:
    cache: false
    prefix: "file:src/main/resources/templates"

logging:
  level:
    com.terraformation: DEBUG
    org.springdoc: DEBUG
    # The Geotools libraries have incorrect manifests that cause Spring Boot Devtools to spew a
    # bunch of informational messages at start time; suppress them to reduce log clutter in dev
    # environments.
    org.springframework.boot.devtools.restart.ChangeableUrls: WARN
    # The data set we're using for country borders has a mix of Polygon and MultiPolygon geometries
    # that causes GeoTools to spew warnings about mixed feature types.
    org.geotools.feature.DefaultFeatureCollection: ERROR
  pattern:
    # This is the default Spring Boot console log format, but with the MDC values (%X) in between
    # the log message and the exception stacktrace.
    console: >-
      %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}
      %clr(%5p)
      %clr(${PID:- }){magenta}
      %clr(---){faint}
      %clr([%15.15t]){faint}
      %clr(%-40.40logger{39}){cyan}
      %clr(:){faint}
      %m%clr(%replace( %X){'^ $',''}%replace( %kvp){'^ $',''}){cyan}%n%wEx
