<html>
<style>
    .button {
        background-color: blue;
        color: white;
        padding: 1ex;
        text-decoration: none;
    }

    .message {
        text-align: center;
        margin: auto;
        border: 1px solid black;
        max-width: fit-content;
        padding: 1em;
    }

    div.logo {
        text-align: center;
    }
</style>
<body>

<div class="logo">
    <img src="https://assets-global.website-files.com/600f0cac30d70b8364793d7c/6063c7a4481fbc56adb6db1d_logo_terraformation.svg"
         alt="Terraformation logo" style="height: 22px;"/>
</div>

<br/>

<div class="message">
    <h1>You've been invited to join ${organization.name}!</h1>
    <p>
        Please click the button below to go to your Terraware account where you can view and accept
        the invitation.
    </p>
    <p>
        <a href="${webAppUrl}" class="button">View Invitation</a>
    </p>
</div>
</body>
</html>
