<div class="question" th:text="${query}" th:if="${query} != null" />
<div class="answer" th:utext="${answer}" th:if="${answer} != null" />

<form id="queryForm" th:hx-post="|/admin/ask/projects/${project.id}|" hx-swap="outerHTML"
      hx-disabled-elt="input, textarea">
    <label>
        Question (Enter to submit, Shift-Enter for line break):
        <br/>
        <textarea id="query" rows=4 cols=80 name="query" autofocus></textarea>
    </label>
    <br/>
    <input type="hidden" name="projectId" th:value="${project.id}"/>
    <input type="hidden" name="conversationId" th:value="${conversationId}"/>
    <input id="submitButton" type="submit" value="Submit"/>
    <br/>
    <label>
        <input type="checkbox" name="showVariables" value="true" th:checked="${showVariables}"/>
        Show the variables and documents that were referenced when generating the answer.
    </label>
</form>

<script>
    document.getElementById('query').addEventListener('keydown', submitOnEnter);
</script>
