---
name: docs

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  generate-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out current revision
      uses: actions/checkout@v3

    - name: Set environment
      run: ./.github/scripts/set-environment.sh

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: "17"

    - name: Cache dependencies
      id: cache-gradle
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle
          ~/.m2
          node_modules
        # Use the same cache key as in main.yml to pick up cached dependencies
        key: 4-${{ hashFiles('*.gradle.kts', 'gradle.properties', 'yarn.lock') }}

    - name: Download Docker images
      run: |
        docker pull postgis/postgis:13-3.0
        docker pull schemaspy/schemaspy:6.1.0

    - name: Compile
      run: ./gradlew testClasses

    - name: Allow generated docs to be committed to gh-pages branch
      run: rm docs/.gitignore

    - name: Make directory for schema docs
      run: mkdir -p docs/schema

    - name: Generate schema docs
      run: ./gradlew test --tests SchemaDocsGenerator --info
      env:
        SCHEMA_DOCS_DIR: docs/schema
        # We want diagnostic output from schema generation, but not from Spring's test harness.
        LOGGING_LEVEL_ORG_SPRINGFRAMEWORK: ERROR

    - name: Generate license report
      run: ./gradlew generateLicenseReport

    - name: Output git log since last release
        run: ./.github/scripts/gitlog.sh

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
        folder: docs
