---
name: docs

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  generate-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out current revision
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        
    - name: Set environment
      run: ./.github/scripts/set-environment.sh

    - name: Set up Java
      id: setup-java
      uses: actions/setup-java@v5
      with:
        distribution: "corretto"
        java-version: "23"

    - name: Tell Gradle where the Java installation is
      run: |
        echo "org.gradle.java.installations.paths=${{ steps.setup-java.outputs.path }}" >> gradle.properties

    - name: Cache dependencies
      id: cache-gradle
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle
          ~/.m2
          node_modules
        # Use the same cache key as in main.yml to pick up cached dependencies
        key: 4-${{ hashFiles('*.gradle.kts', 'gradle.properties', 'yarn.lock') }}

    - name: Compile
      run: ./gradlew testClasses

    - name: Allow generated docs to be committed to gh-pages branch
      run: rm docs/.gitignore

    - name: Make directory for schema docs
      run: mkdir -p docs/schema

    - name: Generate schema docs
      run: ./gradlew test --tests SchemaDocsGenerator --info
      env:
        SCHEMA_DOCS_DIR: docs/schema
        # We want diagnostic output from schema generation, but not from Spring's test harness.
        LOGGING_LEVEL_ORG_SPRINGFRAMEWORK: ERROR

    - name: Generate license report
      run: ./gradlew generateLicenseReport

    - name: Output git log since last release
      run: bash ./.github/scripts/gitlog.sh

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Generate basic list of notifications
      run: python ./.github/scripts/notifications.py

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.7.6
      with:
        folder: docs
